nodered/flows_cronusfarm_dashboard.json
[
  {
    "id": "ui_grp_a",
    "type": "ui_group",
    "name": "A Bed",
    "tab": "ui_tab_monitor",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_grp_b",
    "type": "ui_group",
    "name": "B Bed",
    "tab": "ui_tab_monitor",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_grp_c",
    "type": "ui_group",
    "name": "C Bed",
    "tab": "ui_tab_monitor",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_grp_d",
    "type": "ui_group",
    "name": "D Bed",
    "tab": "ui_tab_monitor",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_grp_farm",
    "type": "ui_group",
    "name": "Farm 환경",
    "tab": "ui_tab_monitor",
    "order": 5,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_manual",
    "type": "ui_group",
    "name": "시간 설정",
    "tab": "ui_tab_settings",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "inj_sys_10s",
    "type": "inject",
    "z": "tab_cronus_dash",
    "name": "Pi 상태 갱신(10s)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "once": true,
    "onceDelay": "2",
    "topic": "tick",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 80,
    "wires": [
      [
        "exec_uptime",
        "exec_ssid",
        "exec_ip",
        "exec_ts_ip",
        "exec_srv_nodered",
        "exec_srv_mosquitto",
        "fn_pi_tick",
        "fn_pi_host"
      ]
    ]
  },
  {
    "id": "fn_pi_host",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "Pi 도메인",
    "func": "msg.payload = 'ida.mango-larch.ts.net';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 280,
    "wires": [
      [
        "ui_txt_pi_host"
      ]
    ]
  },
  {
    "id": "fn_pi_tick",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "Pi tick 시간",
    "func": "const d = new Date();\nmsg.payload = d.toLocaleString('ko-KR', { hour12: false });\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 380,
    "y": 240,
    "wires": [
      [
        "ui_txt_pi_tick"
      ]
    ]
  },
  {
    "id": "exec_uptime",
    "type": "exec",
    "z": "tab_cronus_dash",
    "command": "uptime -p",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "부팅 시간",
    "x": 390,
    "y": 40,
    "wires": [
      [
        "fn_trim_uptime"
      ],
      [],
      []
    ]
  },
  {
    "id": "exec_ssid",
    "type": "exec",
    "z": "tab_cronus_dash",
    "command": "/bin/sh -c '/sbin/iwgetid -r 2>/dev/null || /usr/sbin/iwgetid -r 2>/dev/null || /usr/bin/nmcli -t -f ACTIVE,SSID dev wifi 2>/dev/null | grep \"^yes:\" | head -1 | cut -d: -f2- || (for w in wlan0 wlan1 wlp2s0; do s=$(iwgetid -r -i \"$w\" 2>/dev/null); [ -n \"$s\" ] && echo \"$s\" && exit 0; done) || /usr/bin/nmcli -g GENERAL.CONNECTION dev show wlan0 2>/dev/null | head -1 || echo -'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "WiFi SSID",
    "x": 380,
    "y": 80,
    "wires": [
      [
        "fn_trim_ssid"
      ],
      [],
      []
    ]
  },
  {
    "id": "exec_ip",
    "type": "exec",
    "z": "tab_cronus_dash",
    "command": "/bin/sh -c 'for w in wlan0 wlan1 wlp2s0; do a=$(ip -4 -o addr show $w 2>/dev/null | awk \"{print \\$4}\" | cut -d/ -f1 | head -1); [ -n \"$a\" ] && echo \"$a\" && exit 0; done; /usr/bin/nmcli -g IP4.ADDRESS dev show wlan0 2>/dev/null | head -1 | cut -d/ -f1 | grep -E \"^[0-9]\" || /usr/bin/nmcli -g IP4.ADDRESS dev show wlan1 2>/dev/null | head -1 | cut -d/ -f1 | grep -E \"^[0-9]\" || hostname -I 2>/dev/null | awk \"{print \\$1}\" || echo -'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "IP",
    "x": 360,
    "y": 120,
    "wires": [
      [
        "fn_trim_ip"
      ],
      [],
      []
    ]
  },
  {
    "id": "exec_ts_ip",
    "type": "exec",
    "z": "tab_cronus_dash",
    "command": "/bin/sh -c 'ip -4 -o addr show tailscale0 2>/dev/null | awk \"{print \\$4}\" | cut -d/ -f1 | head -1 || echo -'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "Tailscale IP",
    "x": 380,
    "y": 140,
    "wires": [
      [
        "fn_trim_ts_ip"
      ],
      [],
      []
    ]
  },
  {
    "id": "exec_srv_nodered",
    "type": "exec",
    "z": "tab_cronus_dash",
    "command": "/bin/sh -c 'systemctl is-active nodered 2>/dev/null || systemctl is-active node-red 2>/dev/null || echo inactive'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "Node-RED 서비스",
    "x": 400,
    "y": 160,
    "wires": [
      [
        "fn_trim_nodered"
      ],
      [],
      []
    ]
  },
  {
    "id": "exec_srv_mosquitto",
    "type": "exec",
    "z": "tab_cronus_dash",
    "command": "/bin/systemctl is-active mosquitto",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "Mosquitto 서비스",
    "x": 410,
    "y": 200,
    "wires": [
      [
        "fn_trim_mosq"
      ],
      [],
      []
    ]
  },
  {
    "id": "ui_txt_uptime",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Uptime",
    "label": "Booting Time",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 820,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui_txt_ssid",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "SSID",
    "label": "Pi WiFi SSID",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 810,
    "y": 80,
    "wires": []
  },
  {
    "id": "ui_txt_ip",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "IP",
    "label": "Pi IP",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 800,
    "y": 120,
    "wires": []
  },
  {
    "id": "ui_txt_ts_ip",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Tailscale IP",
    "label": "Pi Tailscale IP",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 820,
    "y": 140,
    "wires": []
  },
  {
    "id": "ui_txt_pi_host",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Pi Host",
    "label": "Pi 도메인",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 820,
    "y": 200,
    "wires": []
  },
  {
    "id": "ui_txt_pi_tick",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "tick",
    "label": "Pi tick",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 800,
    "y": 240,
    "wires": []
  },
  {
    "id": "ui_tpl_pi_nodered",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "name": "Pi Node-RED 상태",
    "order": 4,
    "width": "12",
    "height": "1",
    "format": "<div class=\"cf-row cf-row-pi-srv\"><div class=\"cf-label\">Node-RED</div><div style=\"display:flex;align-items:center;gap:10px;flex-shrink:0;\"><div class=\"cf-dot\" ng-class=\"msg._ok ? 'cf-dot-on' : 'cf-dot-off'\"></div><div style=\"font-size:12px;color:var(--cf-text);white-space:nowrap;\">{{msg._ok ? 'online' : 'offline'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_pi_mosq",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "name": "Pi Mosquitto 상태",
    "order": 5,
    "width": "12",
    "height": "1",
    "format": "<div class=\"cf-row cf-row-pi-srv\"><div class=\"cf-label\">Mosquitto</div><div style=\"display:flex;align-items:center;gap:10px;flex-shrink:0;\"><div class=\"cf-dot\" ng-class=\"msg._ok ? 'cf-dot-on' : 'cf-dot-off'\"></div><div style=\"font-size:12px;color:var(--cf-text);white-space:nowrap;\">{{msg._ok ? 'online' : 'offline'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "mqtt_in_status",
    "type": "mqtt in",
    "z": "tab_cronus_dash",
    "name": "Arduino status",
    "topic": "cronusfarm/cronusfarm-01/status",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_pi",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 170,
    "y": 360,
    "wires": [
      [
        "fn_seen_status",
        "ui_txt_status_raw",
        "ui_tpl_status_line"
      ]
    ]
  },
  {
    "id": "mqtt_in_tele",
    "type": "mqtt in",
    "z": "tab_cronus_dash",
    "name": "Arduino tele",
    "topic": "cronusfarm/cronusfarm-01/tele",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_pi",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 420,
    "wires": [
      [
        "fn_seen_tele",
        "fn_parse_tele_v2",
        "ui_txt_tele_raw",
        "fn_cf_arduino_wifi_tele"
      ]
    ]
  },
  {
    "id": "mqtt_in_kma_snap",
    "type": "mqtt in",
    "z": "tab_cronus_dash",
    "name": "KMA snapshot",
    "topic": "cronusfarm/kma/snapshot",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker_pi",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 160,
    "y": 480,
    "wires": [
      [
        "ui_tpl_farm_env"
      ]
    ]
  },
  {
    "id": "ui_tpl_farm_env",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_farm",
    "name": "Farm 환경 카드",
    "order": 1,
    "width": "12",
    "height": "4",
    "format": "<div style=\"padding:12px 14px;border-radius:14px;background:var(--cf-card,#0f1b31);border:1px solid rgba(255,255,255,.08);color:var(--cf-text,#e6edf7);font-family:system-ui,'Malgun Gothic',sans-serif;font-size:13px;line-height:1.55;\">\n  <div style=\"font-weight:800;font-size:13px;margin-bottom:12px;color:#81c784;letter-spacing:.02em;border-bottom:1px solid rgba(129,199,132,.25);padding-bottom:8px;\">Farm 환경 (기상청 KMA)</div>\n  <div style=\"display:grid;grid-template-columns:1fr auto;gap:5px 14px;align-items:baseline;margin-bottom:14px;\">\n    <span style=\"opacity:.78;\">기온</span><span style=\"font-weight:600;text-align:right;\">{{(msg.payload.kma_temp != null && msg.payload.kma_temp !== '') ? (msg.payload.kma_temp + ' °C') : '—'}}</span>\n    <span style=\"opacity:.78;\">습도</span><span style=\"font-weight:600;text-align:right;\">{{(msg.payload.kma_humidity != null && msg.payload.kma_humidity !== '') ? (msg.payload.kma_humidity + ' %') : '—'}}</span>\n    <span style=\"opacity:.78;\">풍향</span><span style=\"font-weight:600;text-align:right;\">{{(msg.payload.kma_wind_dir != null && msg.payload.kma_wind_dir !== '') ? (msg.payload.kma_wind_dir + ' °') : '—'}}</span>\n    <span style=\"opacity:.78;\">풍속</span><span style=\"font-weight:600;text-align:right;\">{{(msg.payload.kma_wind_speed != null && msg.payload.kma_wind_speed !== '') ? (msg.payload.kma_wind_speed + ' m/s') : '—'}}</span>\n  </div>\n  <div style=\"font-weight:800;font-size:13px;margin-bottom:10px;color:#81c784;letter-spacing:.02em;border-bottom:1px solid rgba(129,199,132,.25);padding-bottom:8px;\">Farm 환경 (온실)</div>\n  <div style=\"display:grid;grid-template-columns:1fr auto;gap:5px 14px;\">\n    <span style=\"opacity:.78;\">온도</span><span style=\"font-weight:600;text-align:right;opacity:.5;\">—</span>\n    <span style=\"opacity:.78;\">습도</span><span style=\"font-weight:600;text-align:right;opacity:.5;\">—</span>\n  </div>\n  <div style=\"margin-top:10px;font-size:11px;opacity:.42;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;\">{{msg.payload.base_date ? ('관측 ' + msg.payload.base_date + ' ' + (msg.payload.base_time||'') + ' KST') : ''}}</div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "fn_cf_arduino_wifi_tele",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "tele→Arduino SSID/IP",
    "func": "const s = (msg.payload || '').toString();\nconst parts = s.split('|').map(x => x.trim());\nconst w = parts.find(x => x.startsWith('W:'));\nlet ssid = '-';\nlet ip = '-';\nif (w) {\n  const rest = w.slice(2).trim();\n  const k = rest.lastIndexOf(' ip=');\n  if (k >= 0 && rest.startsWith('ssid=')) {\n    ssid = rest.slice(5, k).trim();\n    ip = rest.slice(k + 4).trim();\n    if (!ssid) ssid = '-';\n    if (!ip) ip = '-';\n    if (ip === '0.0.0.0') ip = '-';\n  }\n}\nreturn [[{ payload: ssid }], [{ payload: ip }]];",
    "outputs": 2,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 480,
    "wires": [
      [
        "ui_txt_arduino_wifi_ssid"
      ],
      [
        "ui_txt_arduino_wifi_ip"
      ]
    ]
  },
  {
    "id": "ui_txt_arduino_wifi_ssid",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_arduino",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Arduino WiFi SSID",
    "label": "Arduino WiFi SSID",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 920,
    "y": 400,
    "wires": []
  },
  {
    "id": "ui_txt_arduino_wifi_ip",
    "type": "ui_text",
    "z": "tab_cronus_dash",
    "group": "ui_grp_arduino",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Arduino IP",
    "label": "Arduino IP",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 920,
    "y": 440,
    "wires": []
  },
  {
    "id": "ui_txt_status_raw",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_arduino",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "status raw",
    "label": "status(raw)",
    "format": "<div class=\"cf-raw cf-raw-compact\"><div class=\"cf-raw-title\">status(raw)</div><pre>{{msg.payload}}</pre></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 740,
    "y": 360,
    "wires": []
  },
  {
    "id": "ui_txt_tele_raw",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_arduino",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "tele raw",
    "label": "tele(raw)",
    "format": "<div class=\"cf-raw\"><div class=\"cf-raw-title\">tele(raw)</div><pre>{{msg.payload}}</pre></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 730,
    "y": 420,
    "wires": []
  },
  {
    "id": "inj_arduino_tick",
    "type": "inject",
    "z": "tab_cronus_dash",
    "name": "Arduino online(1s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "once": true,
    "onceDelay": "1",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 520,
    "wires": [
      [
        "fn_calc_online"
      ]
    ]
  },
  {
    "id": "mqtt_out_cmd",
    "type": "mqtt out",
    "z": "tab_cronus_dash",
    "name": "cmd publish",
    "topic": "",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt_broker_pi",
    "x": 760,
    "y": 780,
    "wires": []
  },
  {
    "id": "ui_txt_cmd_preview",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_arduino",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "cmd preview",
    "label": "cmd(미리보기)",
    "format": "<div class=\"cf-raw cf-raw-compact\"><div class=\"cf-raw-title\">cmd(미리보기)</div><pre>{{msg.payload}}</pre></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 770,
    "y": 820,
    "wires": []
  },
  {
    "id": "tab_cronus_dash",
    "type": "tab",
    "label": "CronusFarm Dashboard v2",
    "disabled": false,
    "info": "CronusFarm Dashboard (A~D Bed)\n\n- 모니터 탭: Bed별 상태(R4 핀·TG 팬). C/D는 현재 펌웨어에 출력 미할당(예비)\n- 설정 탭: 자동/수동(채널별) + 시간 설정(펌프 ON/OFF 분·초)\n\nMQTT\n- status: cronusfarm/<DEVICE_ID>/status\n- tele  : cronusfarm/<DEVICE_ID>/tele\n- cmd   : cronusfarm/<DEVICE_ID>/cmd\n\nDB 사용(권장 흐름)\n- SQLite(정합·마스터): smartfarm.sqlite\n- InfluxDB(시계열·Grafana): bucket CronusFarm\n- 미러링(ETL): scripts/sqlite-to-influx.py  (sensor_readings → tele_db, 그 외 device_state/alerts/schedules 등)\n- Grafana: InfluxDB(Flux)로 tele_db/device_state/device_run/alerts/schedules 조회\n\nDEVICE_ID 기본: cronusfarm-01\nNode-RED(피에서 실행) → 브로커: 127.0.0.1:1883 / 아두이노는 secrets.h 의 MQTT_HOST(예: ida… 또는 Pi LAN IP)\n"
  },
  {
    "id": "mqtt_broker_pi",
    "type": "mqtt-broker",
    "name": "Mosquitto (Pi localhost)",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "nodered-cronusfarm-v2",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "ui_base_cronus",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "CronusFarm",
        "default": "#4F8CFF",
        "baseColor": "#4F8CFF",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "CronusFarm Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "YYYY-MM-DD",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "ui_tab_monitor",
    "type": "ui_tab",
    "name": "CronusFarm-모니터",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_settings",
    "type": "ui_tab",
    "name": "CronusFarm-설정",
    "icon": "tune",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_shell",
    "type": "ui_tab",
    "name": "CronusFarm-쉘(UI컨셉)",
    "icon": "subject",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_tab_report",
    "type": "ui_tab",
    "name": "CronusFarm-분석/리포트(Grafana)",
    "icon": "analytics",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_grp_pi",
    "type": "ui_group",
    "name": "System (Pi : ida)",
    "tab": "ui_tab_monitor",
    "order": 5,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_shell",
    "type": "ui_group",
    "name": "산업형 바이오모니터링 UI 컨셉",
    "tab": "ui_tab_shell",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_report",
    "type": "ui_group",
    "name": "Grafana 열기",
    "tab": "ui_tab_report",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_arduino",
    "type": "ui_group",
    "name": "Arduino",
    "tab": "ui_tab_monitor",
    "order": 6,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_cfg_auto",
    "type": "ui_group",
    "name": "자동 / 수동 제어 (채널별)",
    "tab": "ui_tab_settings",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_cfg_a",
    "type": "ui_group",
    "name": "A Bed (LED/PUMP) — 자동/수동",
    "tab": "ui_tab_settings",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_cfg_b",
    "type": "ui_group",
    "name": "B Bed (LED/PUMP) — 자동/수동",
    "tab": "ui_tab_settings",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_cfg_c",
    "type": "ui_group",
    "name": "(구) C 그룹 — 미사용",
    "tab": "ui_tab_settings",
    "order": 5,
    "disp": false,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_cfg_d",
    "type": "ui_group",
    "name": "(구) D 그룹 — 미사용",
    "tab": "ui_tab_settings",
    "order": 6,
    "disp": false,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_time_a",
    "type": "ui_group",
    "name": "A Bed (PUMP) — ON/OFF 시간",
    "tab": "ui_tab_settings",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_grp_time_b",
    "type": "ui_group",
    "name": "B Bed (PUMP) — ON/OFF 시간",
    "tab": "ui_tab_settings",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "cf_tpl_row_led_a1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "order": 1,
    "width": "4",
    "height": "1",
    "name": "행표시 LED A1",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">LED A1 (R4-D2)</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_row_led_a2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "order": 3,
    "width": "4",
    "height": "1",
    "name": "행표시 LED A2",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">LED A2 (R4-D3)</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_row_pa1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "order": 5,
    "width": "4",
    "height": "1",
    "name": "행표시 PUMP A1",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP A1 (R4-D4)</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_row_pa2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "order": 7,
    "width": "4",
    "height": "1",
    "name": "행표시 PUMP A2",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP A2 (R4-D5)</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_row_lb1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "order": 9,
    "width": "4",
    "height": "1",
    "name": "행표시 LED B1",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">LED B1 (R4-D6)</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_row_pb1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "order": 11,
    "width": "4",
    "height": "1",
    "name": "행표시 PUMP B1",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP B1 (R4-D7)</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_row_pb2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "order": 13,
    "width": "4",
    "height": "1",
    "name": "행표시 PUMP B2",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP B2 (R4-D8)</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_time_hdr",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_time_a",
    "order": 0,
    "width": "12",
    "height": "1",
    "name": "시간 헤더",
    "format": "<div style=\"padding:8px 4px 2px;\">\n  <div style=\"display:grid;grid-template-columns:4fr 4fr 4fr;gap:6px;align-items:end;\">\n    <div style=\"font-weight:800;color:var(--cf-text,#e6edf7);font-size:13px;\">펌프</div>\n    <div style=\"text-align:center;\">\n      <div style=\"font-weight:900;color:var(--cf-text,#e6edf7);font-size:13px;\">켜지는 시간</div>\n    </div>\n    <div style=\"text-align:center;\">\n      <div style=\"font-weight:900;color:var(--cf-text,#e6edf7);font-size:13px;\">꺼지는 시간</div>\n    </div>\n  </div>\n  <div style=\"display:grid;grid-template-columns:4fr 4fr 4fr;gap:6px;margin-top:4px;\">\n    <div style=\"font-weight:700;color:var(--cf-muted,#9db0cc);font-size:12px;\">ON/OFF 시간</div>\n    <div style=\"display:flex;justify-content:center;gap:18px;color:var(--cf-muted,#9db0cc);font-size:11px;\">\n      <span>분</span><span>초</span>\n    </div>\n    <div style=\"display:flex;justify-content:center;gap:18px;color:var(--cf-muted,#9db0cc);font-size:11px;\">\n      <span>분</span><span>초</span>\n    </div>\n  </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_time_hdr_b",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_time_b",
    "order": 0,
    "width": "12",
    "height": "1",
    "name": "시간 헤더(B)",
    "format": "<div style=\"padding:8px 4px 2px;\">\n  <div style=\"display:grid;grid-template-columns:4fr 4fr 4fr;gap:6px;align-items:end;\">\n    <div style=\"font-weight:800;color:var(--cf-text,#e6edf7);font-size:13px;\">펌프</div>\n    <div style=\"text-align:center;\">\n      <div style=\"font-weight:900;color:var(--cf-text,#e6edf7);font-size:13px;\">켜지는 시간</div>\n    </div>\n    <div style=\"text-align:center;\">\n      <div style=\"font-weight:900;color:var(--cf-text,#e6edf7);font-size:13px;\">꺼지는 시간</div>\n    </div>\n  </div>\n  <div style=\"display:grid;grid-template-columns:4fr 4fr 4fr;gap:6px;margin-top:4px;\">\n    <div style=\"font-weight:700;color:var(--cf-muted,#9db0cc);font-size:12px;\">ON/OFF 시간</div>\n    <div style=\"display:flex;justify-content:center;gap:18px;color:var(--cf-muted,#9db0cc);font-size:11px;\">\n      <span>분</span><span>초</span>\n    </div>\n    <div style=\"display:flex;justify-content:center;gap:18px;color:var(--cf-muted,#9db0cc);font-size:11px;\">\n      <span>분</span><span>초</span>\n    </div>\n  </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_time_pa1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_time_a",
    "order": 1,
    "width": "4",
    "height": "1",
    "name": "시간행 PUMP A1",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP A1</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_time_pa2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_time_a",
    "order": 6,
    "width": "4",
    "height": "1",
    "name": "시간행 PUMP A2",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP A2</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_time_pb1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_time_b",
    "order": 11,
    "width": "4",
    "height": "1",
    "name": "시간행 PUMP B1",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP B1</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "cf_tpl_time_pb2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_time_b",
    "order": 16,
    "width": "4",
    "height": "1",
    "name": "시간행 PUMP B2",
    "format": "<div style=\"padding:10px 4px;font-size:13px;font-weight:600;color:var(--cf-text,#e6edf7);\">PUMP B2</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "fn_trim_uptime",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "uptime 정리",
    "func": "msg.payload = (msg.payload||'').toString().trim() || '-';\nreturn msg;",
    "outputs": 1,
    "x": 600,
    "y": 40,
    "wires": [
      [
        "ui_txt_uptime"
      ]
    ]
  },
  {
    "id": "fn_trim_ssid",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "ssid 정리",
    "func": "msg.payload = (msg.payload||'').toString().trim() || '(미연결)';\nreturn msg;",
    "outputs": 1,
    "x": 590,
    "y": 80,
    "wires": [
      [
        "ui_txt_ssid"
      ]
    ]
  },
  {
    "id": "fn_trim_ip",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "ip 정리",
    "func": "const s=(msg.payload||'').toString().trim();\nmsg.payload = (s.split(/\\s+/)[0]||'-');\nreturn msg;",
    "outputs": 1,
    "x": 580,
    "y": 120,
    "wires": [
      [
        "ui_txt_ip"
      ]
    ]
  },
  {
    "id": "fn_trim_ts_ip",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "tailscale ip 정리",
    "func": "msg.payload = (msg.payload||'').toString().trim() || '-';\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 140,
    "wires": [
      [
        "ui_txt_ts_ip"
      ]
    ]
  },
  {
    "id": "fn_trim_nodered",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "nodered 정리",
    "func": "const s=(msg.payload||'').toString().trim();\nmsg._ok = (s==='active');\nmsg.payload = msg._ok ? 'online' : 'offline';\nreturn msg;",
    "outputs": 1,
    "x": 610,
    "y": 160,
    "wires": [
      [
        "ui_tpl_pi_nodered"
      ]
    ]
  },
  {
    "id": "fn_trim_mosq",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "mosquitto 정리",
    "func": "const s=(msg.payload||'').toString().trim();\nmsg._ok = (s==='active');\nmsg.payload = msg._ok ? 'online' : 'offline';\nreturn msg;",
    "outputs": 1,
    "x": 630,
    "y": 200,
    "wires": [
      [
        "ui_tpl_pi_mosq"
      ]
    ]
  },
  {
    "id": "fn_seen_status",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "status 수신시각",
    "func": "flow.set('arduinoLastStatusMs', Date.now());\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 360,
    "wires": []
  },
  {
    "id": "fn_seen_tele",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "tele 수신시각",
    "func": "flow.set('arduinoLastTeleMs', Date.now());\nflow.set('lastTeleStr', (msg.payload || '').toString());\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 420,
    "wires": []
  },
  {
    "id": "fn_calc_online",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "online 계산",
    "func": "const now=Date.now();\nconst ls=flow.get('arduinoLastStatusMs')||0;\nconst lt=flow.get('arduinoLastTeleMs')||0;\nconst ok=((now-ls)<30000)||((now-lt)<5000);\nmsg._ok=ok;\nmsg.payload=ok?'정상':'미수신';\nmsg.statusAge=ls?Math.floor((now-ls)/1000):null;\nmsg.teleAge=lt?Math.floor((now-lt)/1000):null;\nconst raw=(flow.get('lastTeleStr')||'').toString();\nmsg.telePreview = raw.length>200 ? raw.slice(0,200)+'…' : raw;\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 520,
    "wires": [
      [
        "ui_tpl_conn_line"
      ]
    ]
  },
  {
    "id": "ui_tpl_conn_line",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_arduino",
    "name": "연결 상태 표시",
    "order": 1,
    "width": "12",
    "height": "2",
    "format": "<div class=\"cf-row cf-arduino-conn\"><div class=\"cf-label\">Arduino 연결</div><div style=\"display:flex;align-items:center;gap:10px;flex-shrink:0;\"><div class=\"cf-dot\" ng-class=\"msg._ok ? 'cf-dot-on' : 'cf-dot-off'\"></div><div style=\"font-size:12px;color:var(--cf-text);white-space:nowrap;\">{{msg._ok ? 'online' : 'offline'}} <span class=\"cf-muted\">(tele {{msg.teleAge}}s / status {{msg.statusAge}}s)</span></div></div></div><div class=\"cf-tele-preview\"><div class=\"cf-raw-title\">tele(요약)</div><pre>{{msg.telePreview}}</pre></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_status_line",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_arduino",
    "name": "Arduino MQTT 상태",
    "order": 4,
    "width": "12",
    "height": "1",
    "format": "<div class=\"cf-row cf-row-pi-srv\"><div class=\"cf-label\">Arduino MQTT</div><div style=\"display:flex;align-items:center;gap:10px;flex-shrink:0;\"><div class=\"cf-dot\" ng-class=\"(msg.payload||'').toString().trim()==='online' ? 'cf-dot-on' : 'cf-dot-off'\"></div><div style=\"font-size:12px;color:var(--cf-text);white-space:nowrap;\">{{(msg.payload||'').toString().trim()==='online' ? 'online' : 'offline'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "fn_parse_tele_v2",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "tele 파싱(v2)",
    "func": "// tele 예)\n// S:led_a1=0 ... pump_b2=1 fan_a1=1 | A:led_a1=0 ... auto_fan_a1=0 | T:pump_a1=30/90 ...\n//\n// 중요: tele이 1초마다 오기 때문에, UI 드롭다운(dd_*)을 매번 덮어쓰면 \"시간이 계속 바뀌는\" 것처럼 보일 수 있습니다.\n// 여기서는 on_/off_ 초 값만 반영하고(dd_ 분/초 UI 갱신은 하지 않음), 드롭다운은 사용자가 바꾼 값이 유지되도록 합니다.\n\nconst s=(msg.payload||'').toString();\nfunction parseKV(part){\n  const out={};\n  (part||'').trim().split(/\\s+/).forEach(tok=>{\n    const m=tok.match(/^([^=]+)=(.+)$/);\n    if(!m) return;\n    out[m[1]] = m[2];\n  });\n  return out;\n}\n\nconst ps = s.split('|').map(x=>x.trim());\nconst pS = ps.find(x=>x.startsWith('S:'));\nconst pA = ps.find(x=>x.startsWith('A:'));\nconst pT = ps.find(x=>x.startsWith('T:'));\n\nconst kvS = parseKV(pS ? pS.slice(2) : '');\nconst kvA = parseKV(pA ? pA.slice(2) : '');\nconst kvT = parseKV(pT ? pT.slice(2) : '');\n\nconst chKeys = ['led_a1','led_a2','pump_a1','pump_a2','led_b1','pump_b1','pump_b2','fan_a1','fan_b1','fan_b2','pump_c1','pump_c2','pump_d1','pump_d2'];\n\nconst out=[];\nchKeys.forEach(k=>{\n  if(k in kvS) {\n    const v = (kvS[k]==='1')?1:0;\n    flow.set(k, v);\n    out.push({topic:k, payload: v});\n  }\n});\nchKeys.forEach(k=>{\n  const ak = 'auto_'+k;\n  if(k in kvA) {\n    const v = (kvA[k]==='1')?1:0;\n    flow.set(ak, v);\n    out.push({topic:ak, payload: v});\n  }\n});\n\nObject.keys(kvT).forEach(k=>{\n  // pump_x=30/90\n  const m = (kvT[k]||'').match(/^(\\d+)\\/(\\d+)$/);\n  if(!m) return;\n  const onV = parseInt(m[1],10);\n  const offV = parseInt(m[2],10);\n  const onK = 'on_'+k;\n  const offK = 'off_'+k;\n  flow.set(onK, onV);\n  flow.set(offK, offV);\n  out.push({topic:onK, payload: onV});\n  out.push({topic:offK, payload: offV});\n});\n\nreturn [out];",
    "outputs": 1,
    "x": 430,
    "y": 460,
    "wires": [
      [
        "link_out_to_ui"
      ]
    ]
  },
  {
    "id": "link_out_to_ui",
    "type": "link out",
    "z": "tab_cronus_dash",
    "name": "UI 반영",
    "mode": "link",
    "links": [
      "link_in_to_ui"
    ],
    "x": 655,
    "y": 460,
    "wires": []
  },
  {
    "id": "link_in_to_ui",
    "type": "link in",
    "z": "tab_cronus_dash",
    "name": "UI 반영(수신)",
    "links": [],
    "x": 115,
    "y": 700,
    "wires": [
      [
        "sw_route_state",
        "sw_route_auto",
        "sw_route_time"
      ]
    ]
  },
  {
    "id": "sw_route_state",
    "type": "switch",
    "z": "tab_cronus_dash",
    "name": "topic→모니터 상태 라우팅",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "led_a1", "vt": "str" },
      { "t": "eq", "v": "led_a2", "vt": "str" },
      { "t": "eq", "v": "pump_a1", "vt": "str" },
      { "t": "eq", "v": "pump_a2", "vt": "str" },
      { "t": "eq", "v": "fan_a1", "vt": "str" },
      { "t": "eq", "v": "led_b1", "vt": "str" },
      { "t": "eq", "v": "pump_b1", "vt": "str" },
      { "t": "eq", "v": "pump_b2", "vt": "str" },
      { "t": "eq", "v": "fan_b1", "vt": "str" },
      { "t": "eq", "v": "fan_b2", "vt": "str" },
      { "t": "eq", "v": "pump_c1", "vt": "str" },
      { "t": "eq", "v": "pump_c2", "vt": "str" },
      { "t": "eq", "v": "pump_d1", "vt": "str" },
      { "t": "eq", "v": "pump_d2", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 14,
    "x": 360,
    "y": 660,
    "wires": [
      ["ui_tpl_state_led_a1","fd_toggle_led_a1","ui_tpl_set_led_a1"],
      ["ui_tpl_state_led_a2","fd_toggle_led_a2","ui_tpl_set_led_a2"],
      ["ui_tpl_state_pump_a1","fd_toggle_pump_a1","ui_tpl_set_pump_c1"],
      ["ui_tpl_state_pump_a2","fd_toggle_pump_a2","ui_tpl_set_pump_c2"],
      ["ui_tpl_state_fan_a1",null,"ui_tpl_set_fan_a1"],
      ["ui_tpl_state_led_b1","fd_toggle_led_b1","ui_tpl_set_led_b1"],
      ["ui_tpl_state_pump_b1","fd_toggle_pump_b1","ui_tpl_set_pump_d1"],
      ["ui_tpl_state_pump_b2","fd_toggle_pump_b2","ui_tpl_set_pump_d2"],
      ["ui_tpl_state_fan_b1",null,"ui_tpl_set_fan_b1"],
      ["ui_tpl_state_fan_b2",null,"ui_tpl_set_fan_b2"],
      ["ui_tpl_state_pump_c1"],
      ["ui_tpl_state_pump_c2"],
      ["ui_tpl_state_pump_d1"],
      ["ui_tpl_state_pump_d2"]
    ]
  },
  {
    "id": "sw_route_auto",
    "type": "switch",
    "z": "tab_cronus_dash",
    "name": "topic→설정 스위치(auto_) 라우팅",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "auto_led_a1", "vt": "str" },
      { "t": "eq", "v": "auto_led_a2", "vt": "str" },
      { "t": "eq", "v": "auto_pump_a1", "vt": "str" },
      { "t": "eq", "v": "auto_pump_a2", "vt": "str" },
      { "t": "eq", "v": "auto_fan_a1", "vt": "str" },
      { "t": "eq", "v": "auto_led_b1", "vt": "str" },
      { "t": "eq", "v": "auto_pump_b1", "vt": "str" },
      { "t": "eq", "v": "auto_pump_b2", "vt": "str" },
      { "t": "eq", "v": "auto_fan_b1", "vt": "str" },
      { "t": "eq", "v": "auto_fan_b2", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 10,
    "x": 380,
    "y": 700,
    "wires": [[],[],[],[],[],[],[],[],[],[]]
  },
  {
    "id": "sw_route_time",
    "type": "switch",
    "z": "tab_cronus_dash",
    "name": "topic→시간(dd_) 라우팅",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "on_pump_a1", "vt": "str" },
      { "t": "eq", "v": "off_pump_a1", "vt": "str" },
      { "t": "eq", "v": "on_pump_a2", "vt": "str" },
      { "t": "eq", "v": "off_pump_a2", "vt": "str" },
      { "t": "eq", "v": "on_pump_b1", "vt": "str" },
      { "t": "eq", "v": "off_pump_b1", "vt": "str" },
      { "t": "eq", "v": "on_pump_b2", "vt": "str" },
      { "t": "eq", "v": "off_pump_b2", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 8,
    "x": 370,
    "y": 740,
    "wires": [
      ["dd_on_pump_a1_s"],
      ["dd_off_pump_a1_s"],
      ["dd_on_pump_a2_s"],
      ["dd_off_pump_a2_s"],
      ["dd_on_pump_b1_s"],
      ["dd_off_pump_b1_s"],
      ["dd_on_pump_b2_s"],
      ["dd_off_pump_b2_s"]
    ]
  },
  {
    "id": "ui_tpl_state_led_a1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_a",
    "name": "LED A1 상태",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><circle cx=\"12\" cy=\"12\" r=\"4\" fill=\"#FFD54F\"/><g stroke=\"#FFD54F\" stroke-width=\"2\" stroke-linecap=\"round\"><path d=\"M12 2v3\"/><path d=\"M12 19v3\"/><path d=\"M2 12h3\"/><path d=\"M19 12h3\"/><path d=\"M4.2 4.2l2.1 2.1\"/><path d=\"M17.7 17.7l2.1 2.1\"/><path d=\"M19.8 4.2l-2.1 2.1\"/><path d=\"M6.3 17.7l-2.1 2.1\"/></g></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">LED A1 <span class=\"cf-pin\">(R4-D2)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_led_a2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_a",
    "name": "LED A2 상태",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><circle cx=\"12\" cy=\"12\" r=\"4\" fill=\"#FFD54F\"/><g stroke=\"#FFD54F\" stroke-width=\"2\" stroke-linecap=\"round\"><path d=\"M12 2v3\"/><path d=\"M12 19v3\"/><path d=\"M2 12h3\"/><path d=\"M19 12h3\"/><path d=\"M4.2 4.2l2.1 2.1\"/><path d=\"M17.7 17.7l2.1 2.1\"/><path d=\"M19.8 4.2l-2.1 2.1\"/><path d=\"M6.3 17.7l-2.1 2.1\"/></g></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">LED A2 <span class=\"cf-pin\">(R4-D3)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_a1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_a",
    "name": "PUMP A1 상태",
    "order": 3,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump A1 <span class=\"cf-pin\">(R4-D4)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_a2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_a",
    "name": "PUMP A2 상태",
    "order": 4,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump A2 <span class=\"cf-pin\">(R4-D5)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_fan_a1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_a",
    "name": "FAN A1 상태",
    "order": 5,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic cf-ic-fan\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#43A047\" d=\"M12 2l2.4 8.2L12 12l-2.4-1.8z\"/><path fill=\"#66BB6A\" d=\"M22 12l-8.2 2.4L12 12l1.8-2.4z\"/><path fill=\"#43A047\" d=\"M12 22l-2.4-8.2L12 12l2.4 1.8z\"/><path fill=\"#66BB6A\" d=\"M2 12l8.2-2.4L12 12l-1.8 2.4z\"/><circle cx=\"12\" cy=\"12\" r=\"2.3\" fill=\"#E8F5E9\" stroke=\"#2E7D32\" stroke-width=\".45\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Fan A1 <span class=\"cf-pin\">(TG-I2C)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_led_b1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_b",
    "name": "LED B1 상태",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><circle cx=\"12\" cy=\"12\" r=\"4\" fill=\"#FFD54F\"/><g stroke=\"#FFD54F\" stroke-width=\"2\" stroke-linecap=\"round\"><path d=\"M12 2v3\"/><path d=\"M12 19v3\"/><path d=\"M2 12h3\"/><path d=\"M19 12h3\"/><path d=\"M4.2 4.2l2.1 2.1\"/><path d=\"M17.7 17.7l2.1 2.1\"/><path d=\"M19.8 4.2l-2.1 2.1\"/><path d=\"M6.3 17.7l-2.1 2.1\"/></g></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">LED B1 <span class=\"cf-pin\">(R4-D6)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_b1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_b",
    "name": "PUMP B1 상태",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump B1 <span class=\"cf-pin\">(R4-D7)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_b2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_b",
    "name": "PUMP B2 상태",
    "order": 3,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump B2 <span class=\"cf-pin\">(R4-D8)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_fan_b1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_b",
    "name": "FAN B1 상태",
    "order": 4,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic cf-ic-fan\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#43A047\" d=\"M12 2l2.4 8.2L12 12l-2.4-1.8z\"/><path fill=\"#66BB6A\" d=\"M22 12l-8.2 2.4L12 12l1.8-2.4z\"/><path fill=\"#43A047\" d=\"M12 22l-2.4-8.2L12 12l2.4 1.8z\"/><path fill=\"#66BB6A\" d=\"M2 12l8.2-2.4L12 12l-1.8 2.4z\"/><circle cx=\"12\" cy=\"12\" r=\"2.3\" fill=\"#E8F5E9\" stroke=\"#2E7D32\" stroke-width=\".45\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Fan B1 <span class=\"cf-pin\">(TG-I2C)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_fan_b2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_b",
    "name": "FAN B2 상태",
    "order": 5,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic cf-ic-fan\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#43A047\" d=\"M12 2l2.4 8.2L12 12l-2.4-1.8z\"/><path fill=\"#66BB6A\" d=\"M22 12l-8.2 2.4L12 12l1.8-2.4z\"/><path fill=\"#43A047\" d=\"M12 22l-2.4-8.2L12 12l2.4 1.8z\"/><path fill=\"#66BB6A\" d=\"M2 12l8.2-2.4L12 12l-1.8 2.4z\"/><circle cx=\"12\" cy=\"12\" r=\"2.3\" fill=\"#E8F5E9\" stroke=\"#2E7D32\" stroke-width=\".45\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Fan B2 <span class=\"cf-pin\">(TG-I2C)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_c1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_c",
    "name": "PUMP C1 상태",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump C1 <span class=\"cf-pin\">(R4-D9)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_c2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_c",
    "name": "PUMP C2 상태",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump C2 <span class=\"cf-pin\">(R4-D10)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_d1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_d",
    "name": "PUMP D1 상태",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump D1 <span class=\"cf-pin\">(R4-D11)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_state_pump_d2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_d",
    "name": "PUMP D2 상태",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M7 3h10v4h-1v10a4 4 0 0 1-8 0V7H7V3z\"/><path fill=\"#BBDEFB\" d=\"M9 7h6v10a3 3 0 0 1-6 0V7z\" opacity=\".55\"/><path fill=\"#90CAF9\" d=\"M6 8h2v2H6c-1.1 0-2 .9-2 2v6h2v2H2v-8a4 4 0 0 1 4-4z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump D2 <span class=\"cf-pin\">(R4-D12)</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_set_led_a1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "name": "설정 카드 LED A1",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'led_a1', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#FFD54F\" d=\"M9 21c0-3 2-5 3-6s3-3 3-6a6 6 0 0 0-12 0c0 3 2 5 3 6s3 3 3 6z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">LED A1</div><div class=\"cf-tile-sub\">(R4-D2) · 탭해서 토글(수동)</div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_led_a2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "name": "설정 카드 LED A2",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'led_a2', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#FFD54F\" d=\"M9 21c0-3 2-5 3-6s3-3 3-6a6 6 0 0 0-12 0c0 3 2 5 3 6s3 3 3 6z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">LED A2</div><div class=\"cf-tile-sub\">(R4-D3) · 탭해서 토글(수동)</div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_fan_a1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "name": "설정 카드 FAN A1",
    "order": 3,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'fan_a1', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic cf-ic-fan\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#43A047\" d=\"M12 2l2.4 8.2L12 12l-2.4-1.8z\"/><path fill=\"#66BB6A\" d=\"M22 12l-8.2 2.4L12 12l1.8-2.4z\"/><path fill=\"#43A047\" d=\"M12 22l-2.4-8.2L12 12l2.4 1.8z\"/><path fill=\"#66BB6A\" d=\"M2 12l8.2-2.4L12 12l-1.8 2.4z\"/><circle cx=\"12\" cy=\"12\" r=\"2.3\" fill=\"#E8F5E9\" stroke=\"#2E7D32\" stroke-width=\".45\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Fan A1 <span class=\"cf-pin\">(TG-I2C)</span> <span style=\"font-size:10px;opacity:.65;font-weight:700\">· 탭</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_led_b1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "name": "설정 카드 LED B1",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'led_b1', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#FFD54F\" d=\"M9 21c0-3 2-5 3-6s3-3 3-6a6 6 0 0 0-12 0c0 3 2 5 3 6s3 3 3 6z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">LED B1</div><div class=\"cf-tile-sub\">(R4-D6) · 탭해서 토글(수동)</div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_fan_b1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "name": "설정 카드 FAN B1",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'fan_b1', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic cf-ic-fan\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#43A047\" d=\"M12 2l2.4 8.2L12 12l-2.4-1.8z\"/><path fill=\"#66BB6A\" d=\"M22 12l-8.2 2.4L12 12l1.8-2.4z\"/><path fill=\"#43A047\" d=\"M12 22l-2.4-8.2L12 12l2.4 1.8z\"/><path fill=\"#66BB6A\" d=\"M2 12l8.2-2.4L12 12l-1.8 2.4z\"/><circle cx=\"12\" cy=\"12\" r=\"2.3\" fill=\"#E8F5E9\" stroke=\"#2E7D32\" stroke-width=\".45\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Fan B1 <span class=\"cf-pin\">(TG-I2C)</span> <span style=\"font-size:10px;opacity:.65;font-weight:700\">· 탭</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_fan_b2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "name": "설정 카드 FAN B2",
    "order": 3,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'fan_b2', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic cf-ic-fan\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#43A047\" d=\"M12 2l2.4 8.2L12 12l-2.4-1.8z\"/><path fill=\"#66BB6A\" d=\"M22 12l-8.2 2.4L12 12l1.8-2.4z\"/><path fill=\"#43A047\" d=\"M12 22l-2.4-8.2L12 12l2.4 1.8z\"/><path fill=\"#66BB6A\" d=\"M2 12l8.2-2.4L12 12l-1.8 2.4z\"/><circle cx=\"12\" cy=\"12\" r=\"2.3\" fill=\"#E8F5E9\" stroke=\"#2E7D32\" stroke-width=\".45\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Fan B2 <span class=\"cf-pin\">(TG-I2C)</span> <span style=\"font-size:10px;opacity:.65;font-weight:700\">· 탭</span></div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_pump_c1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "name": "설정 카드 PUMP A1",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'pump_a1', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M12 2c4 5 7 8 7 12a7 7 0 0 1-14 0c0-4 3-7 7-12z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump A1</div><div class=\"cf-tile-sub\">(R4-D4) · 탭해서 토글(수동)</div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_pump_c2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_a",
    "name": "설정 카드 PUMP A2",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'pump_a2', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M12 2c4 5 7 8 7 12a7 7 0 0 1-14 0c0-4 3-7 7-12z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump A2</div><div class=\"cf-tile-sub\">(R4-D5) · 탭해서 토글(수동)</div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_pump_d1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "name": "설정 카드 PUMP B1",
    "order": 1,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'pump_b1', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M12 2c4 5 7 8 7 12a7 7 0 0 1-14 0c0-4 3-7 7-12z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump B1</div><div class=\"cf-tile-sub\">(R4-D7) · 탭해서 토글(수동)</div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_set_pump_d2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_cfg_b",
    "name": "설정 카드 PUMP B2",
    "order": 2,
    "width": "6",
    "height": "1",
    "format": "<div class=\"cf-tile\" ng-click=\"send({topic:'pump_b2', payload:(msg.payload==1?0:1)})\"><div class=\"cf-tile-left\"><div class=\"cf-ic\" aria-hidden=\"true\"><svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"#4FC3F7\" d=\"M12 2c4 5 7 8 7 12a7 7 0 0 1-14 0c0-4 3-7 7-12z\"/></svg></div><div class=\"cf-tile-txt\"><div class=\"cf-tile-name\">Pump B2</div><div class=\"cf-tile-sub\">(R4-D8) · 탭해서 토글(수동)</div></div></div><div class=\"cf-tile-right\"><div class=\"cf-dot\" ng-class=\"msg.payload==1 ? 'cf-dot-on' : 'cf-dot-off'\"></div><div class=\"cf-pill\" ng-class=\"msg.payload==1 ? 'cf-on' : 'cf-off'\">{{msg.payload==1 ? 'ON' : 'OFF'}}</div></div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": [
      [
        "fn_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "fn_force_manual_and_set",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "스위치: 수동고정+ON/OFF",
    "func": "const devId = flow.get('deviceId') || 'cronusfarm-01';\nflow.set('deviceId', devId);\n\nconst k = (msg.topic||'').toString().trim();\nif(!k) return null;\nconst v = (msg.payload===1 || msg.payload===true || msg.payload==='1' || msg.payload==='on') ? 1 : 0;\n\n// 스위치 조작 시: 해당 채널을 수동(auto=0)으로 고정하고, 즉시 ON/OFF 값을 cmd로 발행\n// - 반드시 2회 발행(auto -> state). Function 노드 출력 1개에서 여러 메시지를 내보내려면\n//   [[msg1, msg2]] 형태(출력 포트별 메시지 배열)로 반환해야 합니다.\nconst t = `cronusfarm/${devId}/cmd`;\nconst m1 = {topic:t, payload:`auto_${k}=0`};\nconst m2 = {topic:t, payload:`${k}=${v}`};\nreturn [[m1, m2]];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 930,
    "wires": [
      [
        "mqtt_out_cmd",
        "ui_txt_cmd_preview"
      ]
    ]
  },
  {
    "id": "dd_on_pump_a1_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON분 A1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 2,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 0,
    "topic": "dd_on_pump_a1_m",
    "topicType": "str",
    "className": "",
    "x": 300,
    "y": 1300,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_on_pump_a1_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON초 A1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 3,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_on_pump_a1_s",
    "topicType": "str",
    "className": "",
    "x": 310,
    "y": 1320,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_a1_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF분 A1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 4,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 1,
    "topic": "dd_off_pump_a1_m",
    "topicType": "str",
    "className": "",
    "x": 320,
    "y": 1340,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_a1_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF초 A1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 5,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_off_pump_a1_s",
    "topicType": "str",
    "className": "",
    "x": 330,
    "y": 1360,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_on_pump_a2_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON분 A2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 7,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 0,
    "topic": "dd_on_pump_a2_m",
    "topicType": "str",
    "className": "",
    "x": 300,
    "y": 1380,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_on_pump_a2_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON초 A2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 8,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_on_pump_a2_s",
    "topicType": "str",
    "className": "",
    "x": 310,
    "y": 1400,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_a2_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF분 A2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 9,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 1,
    "topic": "dd_off_pump_a2_m",
    "topicType": "str",
    "className": "",
    "x": 320,
    "y": 1420,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_a2_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF초 A2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_a",
    "order": 10,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_off_pump_a2_s",
    "topicType": "str",
    "className": "",
    "x": 330,
    "y": 1440,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_on_pump_b1_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON분 B1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 12,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 0,
    "topic": "dd_on_pump_b1_m",
    "topicType": "str",
    "className": "",
    "x": 300,
    "y": 1460,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_on_pump_b1_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON초 B1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 13,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_on_pump_b1_s",
    "topicType": "str",
    "className": "",
    "x": 310,
    "y": 1480,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_b1_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF분 B1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 14,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 1,
    "topic": "dd_off_pump_b1_m",
    "topicType": "str",
    "className": "",
    "x": 320,
    "y": 1500,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_b1_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF초 B1",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 15,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_off_pump_b1_s",
    "topicType": "str",
    "className": "",
    "x": 330,
    "y": 1520,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_on_pump_b2_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON분 B2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 17,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 0,
    "topic": "dd_on_pump_b2_m",
    "topicType": "str",
    "className": "",
    "x": 300,
    "y": 1540,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_on_pump_b2_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "ON초 B2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 18,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_on_pump_b2_s",
    "topicType": "str",
    "className": "",
    "x": 310,
    "y": 1560,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_b2_m",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF분 B2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 19,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0분",
        "value": 0
      },
      {
        "label": "1분",
        "value": 1
      },
      {
        "label": "2분",
        "value": 2
      },
      {
        "label": "3분",
        "value": 3
      },
      {
        "label": "4분",
        "value": 4
      },
      {
        "label": "5분",
        "value": 5
      },
      {
        "label": "6분",
        "value": 6
      },
      {
        "label": "7분",
        "value": 7
      },
      {
        "label": "8분",
        "value": 8
      },
      {
        "label": "9분",
        "value": 9
      },
      {
        "label": "10분",
        "value": 10
      },
      {
        "label": "11분",
        "value": 11
      },
      {
        "label": "12분",
        "value": 12
      },
      {
        "label": "13분",
        "value": 13
      },
      {
        "label": "14분",
        "value": 14
      },
      {
        "label": "15분",
        "value": 15
      },
      {
        "label": "16분",
        "value": 16
      },
      {
        "label": "17분",
        "value": 17
      },
      {
        "label": "18분",
        "value": 18
      },
      {
        "label": "19분",
        "value": 19
      },
      {
        "label": "20분",
        "value": 20
      },
      {
        "label": "21분",
        "value": 21
      },
      {
        "label": "22분",
        "value": 22
      },
      {
        "label": "23분",
        "value": 23
      },
      {
        "label": "24분",
        "value": 24
      },
      {
        "label": "25분",
        "value": 25
      },
      {
        "label": "26분",
        "value": 26
      },
      {
        "label": "27분",
        "value": 27
      },
      {
        "label": "28분",
        "value": 28
      },
      {
        "label": "29분",
        "value": 29
      },
      {
        "label": "30분",
        "value": 30
      },
      {
        "label": "31분",
        "value": 31
      },
      {
        "label": "32분",
        "value": 32
      },
      {
        "label": "33분",
        "value": 33
      },
      {
        "label": "34분",
        "value": 34
      },
      {
        "label": "35분",
        "value": 35
      },
      {
        "label": "36분",
        "value": 36
      },
      {
        "label": "37분",
        "value": 37
      },
      {
        "label": "38분",
        "value": 38
      },
      {
        "label": "39분",
        "value": 39
      },
      {
        "label": "40분",
        "value": 40
      },
      {
        "label": "41분",
        "value": 41
      },
      {
        "label": "42분",
        "value": 42
      },
      {
        "label": "43분",
        "value": 43
      },
      {
        "label": "44분",
        "value": 44
      },
      {
        "label": "45분",
        "value": 45
      },
      {
        "label": "46분",
        "value": 46
      },
      {
        "label": "47분",
        "value": 47
      },
      {
        "label": "48분",
        "value": 48
      },
      {
        "label": "49분",
        "value": 49
      },
      {
        "label": "50분",
        "value": 50
      },
      {
        "label": "51분",
        "value": 51
      },
      {
        "label": "52분",
        "value": 52
      },
      {
        "label": "53분",
        "value": 53
      },
      {
        "label": "54분",
        "value": 54
      },
      {
        "label": "55분",
        "value": 55
      },
      {
        "label": "56분",
        "value": 56
      },
      {
        "label": "57분",
        "value": 57
      },
      {
        "label": "58분",
        "value": 58
      },
      {
        "label": "59분",
        "value": 59
      }
    ],
    "payload": 1,
    "topic": "dd_off_pump_b2_m",
    "topicType": "str",
    "className": "",
    "x": 320,
    "y": 1580,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "dd_off_pump_b2_s",
    "type": "ui_dropdown",
    "z": "tab_cronus_dash",
    "name": "OFF초 B2",
    "label": "",
    "tooltip": "",
    "group": "ui_grp_time_b",
    "order": 20,
    "width": "2",
    "height": 0,
    "passthru": false,
    "multiple": false,
    "options": [
      {
        "label": "0초",
        "value": 0
      },
      {
        "label": "1초",
        "value": 1
      },
      {
        "label": "2초",
        "value": 2
      },
      {
        "label": "3초",
        "value": 3
      },
      {
        "label": "4초",
        "value": 4
      },
      {
        "label": "5초",
        "value": 5
      },
      {
        "label": "6초",
        "value": 6
      },
      {
        "label": "7초",
        "value": 7
      },
      {
        "label": "8초",
        "value": 8
      },
      {
        "label": "9초",
        "value": 9
      },
      {
        "label": "10초",
        "value": 10
      },
      {
        "label": "11초",
        "value": 11
      },
      {
        "label": "12초",
        "value": 12
      },
      {
        "label": "13초",
        "value": 13
      },
      {
        "label": "14초",
        "value": 14
      },
      {
        "label": "15초",
        "value": 15
      },
      {
        "label": "16초",
        "value": 16
      },
      {
        "label": "17초",
        "value": 17
      },
      {
        "label": "18초",
        "value": 18
      },
      {
        "label": "19초",
        "value": 19
      },
      {
        "label": "20초",
        "value": 20
      },
      {
        "label": "21초",
        "value": 21
      },
      {
        "label": "22초",
        "value": 22
      },
      {
        "label": "23초",
        "value": 23
      },
      {
        "label": "24초",
        "value": 24
      },
      {
        "label": "25초",
        "value": 25
      },
      {
        "label": "26초",
        "value": 26
      },
      {
        "label": "27초",
        "value": 27
      },
      {
        "label": "28초",
        "value": 28
      },
      {
        "label": "29초",
        "value": 29
      },
      {
        "label": "30초",
        "value": 30
      },
      {
        "label": "31초",
        "value": 31
      },
      {
        "label": "32초",
        "value": 32
      },
      {
        "label": "33초",
        "value": 33
      },
      {
        "label": "34초",
        "value": 34
      },
      {
        "label": "35초",
        "value": 35
      },
      {
        "label": "36초",
        "value": 36
      },
      {
        "label": "37초",
        "value": 37
      },
      {
        "label": "38초",
        "value": 38
      },
      {
        "label": "39초",
        "value": 39
      },
      {
        "label": "40초",
        "value": 40
      },
      {
        "label": "41초",
        "value": 41
      },
      {
        "label": "42초",
        "value": 42
      },
      {
        "label": "43초",
        "value": 43
      },
      {
        "label": "44초",
        "value": 44
      },
      {
        "label": "45초",
        "value": 45
      },
      {
        "label": "46초",
        "value": 46
      },
      {
        "label": "47초",
        "value": 47
      },
      {
        "label": "48초",
        "value": 48
      },
      {
        "label": "49초",
        "value": 49
      },
      {
        "label": "50초",
        "value": 50
      },
      {
        "label": "51초",
        "value": 51
      },
      {
        "label": "52초",
        "value": 52
      },
      {
        "label": "53초",
        "value": 53
      },
      {
        "label": "54초",
        "value": 54
      },
      {
        "label": "55초",
        "value": 55
      },
      {
        "label": "56초",
        "value": 56
      },
      {
        "label": "57초",
        "value": 57
      },
      {
        "label": "58초",
        "value": 58
      },
      {
        "label": "59초",
        "value": 59
      }
    ],
    "payload": 30,
    "topic": "dd_off_pump_b2_s",
    "topicType": "str",
    "className": "",
    "x": 330,
    "y": 1600,
    "wires": [
      [
        "fn_dd_pump_duration"
      ]
    ]
  },
  {
    "id": "fn_dd_pump_duration",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "펌프 분·초→초 합산",
    "func": "const key = (msg.topic || '').toString();\nconst v = Number(msg.payload);\nif (!key) return null;\nflow.set(key, isNaN(v) ? 0 : v);\nconst mm = key.match(/^dd_(on|off)_(pump_[a-z0-9]+)_(m|s)$/);\nif (!mm) return null;\nconst kind = mm[1];\nconst pk = mm[2];\nconst minutes = Number(flow.get('dd_' + kind + '_' + pk + '_m')) || 0;\nconst seconds = Number(flow.get('dd_' + kind + '_' + pk + '_s')) || 0;\nlet t = minutes * 60 + seconds;\nif (t < 1) t = 1;\nif (t > 3600) t = 3600;\nconst outTopic = kind + '_' + pk;\nflow.set(outTopic, t);\nmsg.topic = outTopic;\nmsg.payload = t;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 1300,
    "wires": [
      [
        "fn_cmd_merge_v2"
      ]
    ]
  },
  {
    "id": "fn_cmd_merge_v2",
    "type": "function",
    "z": "tab_cronus_dash",
    "name": "cmd 만들기(v2)",
    "func": "const devId = flow.get('deviceId') || 'cronusfarm-01';\nflow.set('deviceId', devId);\n\nconst key = (msg.topic||'').toString();\nconst val = msg.payload;\nif (key) flow.set(key, val);\n\nconst keys = [\n  'led_a1','led_a2','pump_a1','pump_a2','led_b1','pump_b1','pump_b2',\n  'auto_led_a1','auto_led_a2','auto_pump_a1','auto_pump_a2','auto_led_b1','auto_pump_b1','auto_pump_b2',\n  'on_pump_a1','off_pump_a1','on_pump_a2','off_pump_a2','on_pump_b1','off_pump_b1','on_pump_b2','off_pump_b2'\n];\n\nconst parts=[];\nkeys.forEach(k=>{\n  const v = flow.get(k);\n  if (v === undefined || v === null) return;\n  parts.push(`${k}=${v}`);\n});\n\nmsg.topic = `cronusfarm/${devId}/cmd`;\nmsg.payload = parts.join(' ');\nreturn msg;",
    "outputs": 1,
    "x": 520,
    "y": 780,
    "wires": [
      [
        "mqtt_out_cmd",
        "ui_txt_cmd_preview"
      ]
    ]
  },
  {
    "id": "tab_cronus_flexdash",
    "type": "tab",
    "label": "CronusFarm FlexDash",
    "disabled": false,
    "info": "FlexDash(드래그/반응형) 전용 UI\n- 접속: http://<pi>:1880/flexdash\n- 타일(toggle)로 채널 ON/OFF\n- tele(topic=led_*, pump_*)를 받아 타일 상태 동기화",
    "env": []
  },
  {
    "id": "fd_dashboard_main",
    "type": "flexdash dashboard",
    "port": "80",
    "ioOpts": "{}",
    "path": "/flexdash",
    "redServer": true,
    "saveConfig": true,
    "allOrigins": true,
    "devServer": false,
    "devInstall": false,
    "name": "FlexDash",
    "fd_children": ",fd_tab_cronus"
  },
  {
    "id": "fd_tab_cronus",
    "type": "flexdash tab",
    "name": "CronusFarm",
    "icon": "mdi-sprout",
    "fd": "fd_dashboard_main",
    "fd_children": ",fd_grid_a,fd_grid_b"
  },
  {
    "id": "fd_grid_a",
    "type": "flexdash container",
    "name": "A Bed",
    "kind": "StdGrid",
    "fd_children": ",fd_toggle_led_a1,fd_toggle_led_a2,fd_toggle_pump_a1,fd_toggle_pump_a2",
    "title": "A Bed",
    "tab": "fd_tab_cronus",
    "min_cols": "1",
    "max_cols": "6",
    "parent": "",
    "solid": false,
    "cols": "2",
    "rows": "2"
  },
  {
    "id": "fd_grid_b",
    "type": "flexdash container",
    "name": "B Bed",
    "kind": "StdGrid",
    "fd_children": ",fd_toggle_led_b1,fd_toggle_pump_b1,fd_toggle_pump_b2",
    "title": "B Bed",
    "tab": "fd_tab_cronus",
    "min_cols": "1",
    "max_cols": "6",
    "parent": "",
    "solid": false,
    "cols": "2",
    "rows": "2"
  },
  {
    "id": "fn_fd_force_manual_and_set",
    "type": "function",
    "z": "tab_cronus_flexdash",
    "name": "FlexDash: 수동고정+ON/OFF",
    "func": "const devId = flow.get('deviceId') || 'cronusfarm-01';\nflow.set('deviceId', devId);\n\n// FlexDash 위젯마다 topic이 다르게 들어올 수 있어 방어적으로 처리\nconst candidates = [\n  msg.topic,\n  msg.fd_output_topic,\n  msg.fdOutputTopic,\n  msg?._fd?.output_topic,\n  msg?._fd?.outputTopic,\n  msg?.widget?.topic\n];\nconst k = (candidates.find(x => (x ?? '').toString().trim().length > 0) ?? '').toString().trim();\nif(!k) return null;\n\n// FlexDash toggle payload는 기본 true/false 또는 1/0\nconst v = (msg.payload===1 || msg.payload===true || msg.payload==='1' || msg.payload==='on') ? 1 : 0;\n\nconst t = `cronusfarm/${devId}/cmd`;\nconst m1 = {topic:t, payload:`auto_${k}=0`};\nconst m2 = {topic:t, payload:`${k}=${v}`};\nreturn [[m1, m2]];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 180,
    "wires": [
      [
        "mqtt_out_cmd"
      ]
    ]
  },
  {
    "id": "fd_toggle_led_a1",
    "type": "fd-toggle",
    "z": "tab_cronus_flexdash",
    "fd_container": "fd_grid_a",
    "fd_cols": "1",
    "fd_rows": 1,
    "fd_array": false,
    "fd_array_max": 10,
    "fd_output_topic": "led_a1",
    "fd_loopback": false,
    "name": "LED A1",
    "title": "LED A1",
    "popup_info": "",
    "value": null,
    "enabled": true,
    "color": "warning",
    "on_value": 1,
    "off_value": 0,
    "show_value": false,
    "show_reset": false,
    "reset_value": "",
    "show_popup": false,
    "x": 220,
    "y": 100,
    "wires": [
      [
        "fn_fd_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "fd_toggle_led_a2",
    "type": "fd-toggle",
    "z": "tab_cronus_flexdash",
    "fd_container": "fd_grid_a",
    "fd_cols": "1",
    "fd_rows": 1,
    "fd_array": false,
    "fd_array_max": 10,
    "fd_output_topic": "led_a2",
    "fd_loopback": false,
    "name": "LED A2",
    "title": "LED A2",
    "popup_info": "",
    "value": null,
    "enabled": true,
    "color": "warning",
    "on_value": 1,
    "off_value": 0,
    "show_value": false,
    "show_reset": false,
    "reset_value": "",
    "show_popup": false,
    "x": 220,
    "y": 140,
    "wires": [
      [
        "fn_fd_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "fd_toggle_pump_a1",
    "type": "fd-toggle",
    "z": "tab_cronus_flexdash",
    "fd_container": "fd_grid_a",
    "fd_cols": "1",
    "fd_rows": 1,
    "fd_array": false,
    "fd_array_max": 10,
    "fd_output_topic": "pump_a1",
    "fd_loopback": false,
    "name": "PUMP A1",
    "title": "PUMP A1",
    "popup_info": "",
    "value": null,
    "enabled": true,
    "color": "primary",
    "on_value": 1,
    "off_value": 0,
    "show_value": false,
    "show_reset": false,
    "reset_value": "",
    "show_popup": false,
    "x": 220,
    "y": 180,
    "wires": [
      [
        "fn_fd_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "fd_toggle_pump_a2",
    "type": "fd-toggle",
    "z": "tab_cronus_flexdash",
    "fd_container": "fd_grid_a",
    "fd_cols": "1",
    "fd_rows": 1,
    "fd_array": false,
    "fd_array_max": 10,
    "fd_output_topic": "pump_a2",
    "fd_loopback": false,
    "name": "PUMP A2",
    "title": "PUMP A2",
    "popup_info": "",
    "value": null,
    "enabled": true,
    "color": "primary",
    "on_value": 1,
    "off_value": 0,
    "show_value": false,
    "show_reset": false,
    "reset_value": "",
    "show_popup": false,
    "x": 220,
    "y": 220,
    "wires": [
      [
        "fn_fd_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "fd_toggle_led_b1",
    "type": "fd-toggle",
    "z": "tab_cronus_flexdash",
    "fd_container": "fd_grid_b",
    "fd_cols": "1",
    "fd_rows": 1,
    "fd_array": false,
    "fd_array_max": 10,
    "fd_output_topic": "led_b1",
    "fd_loopback": false,
    "name": "LED B1",
    "title": "LED B1",
    "popup_info": "",
    "value": null,
    "enabled": true,
    "color": "warning",
    "on_value": 1,
    "off_value": 0,
    "show_value": false,
    "show_reset": false,
    "reset_value": "",
    "show_popup": false,
    "x": 220,
    "y": 260,
    "wires": [
      [
        "fn_fd_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "fd_toggle_pump_b1",
    "type": "fd-toggle",
    "z": "tab_cronus_flexdash",
    "fd_container": "fd_grid_b",
    "fd_cols": "1",
    "fd_rows": 1,
    "fd_array": false,
    "fd_array_max": 10,
    "fd_output_topic": "pump_b1",
    "fd_loopback": false,
    "name": "PUMP B1",
    "title": "PUMP B1",
    "popup_info": "",
    "value": null,
    "enabled": true,
    "color": "primary",
    "on_value": 1,
    "off_value": 0,
    "show_value": false,
    "show_reset": false,
    "reset_value": "",
    "show_popup": false,
    "x": 220,
    "y": 300,
    "wires": [
      [
        "fn_fd_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "fd_toggle_pump_b2",
    "type": "fd-toggle",
    "z": "tab_cronus_flexdash",
    "fd_container": "fd_grid_b",
    "fd_cols": "1",
    "fd_rows": 1,
    "fd_array": false,
    "fd_array_max": 10,
    "fd_output_topic": "pump_b2",
    "fd_loopback": false,
    "name": "PUMP B2",
    "title": "PUMP B2",
    "popup_info": "",
    "value": null,
    "enabled": true,
    "color": "primary",
    "on_value": 1,
    "off_value": 0,
    "show_value": false,
    "show_reset": false,
    "reset_value": "",
    "show_popup": false,
    "x": 220,
    "y": 340,
    "wires": [
      [
        "fn_fd_force_manual_and_set"
      ]
    ]
  },
  {
    "id": "ui_tpl_css_cronus",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "name": "CronusFarm CSS",
    "order": 0,
    "width": "12",
    "height": "1",
    "format": "<style>\n:root{\n  --cf-bg:#0b1220;\n  --cf-card:#0f1b31;\n  --cf-text:#e6edf7;\n  --cf-muted:#9db0cc;\n  --cf-accent:#4f8cff;\n}\nbody.nr-dashboard-theme md-content{\n  background: linear-gradient(180deg, #070c15 0%, var(--cf-bg) 60%, #070c15 100%) !important;\n  color: var(--cf-text) !important;\n}\n.nr-dashboard-theme .nr-dashboard-cardpanel,\n.nr-dashboard-theme .nr-dashboard-template{\n  background: var(--cf-card) !important;\n  border-radius: 14px !important;\n  box-shadow: 0 10px 30px rgba(0,0,0,.35) !important;\n  border: 1px solid rgba(255,255,255,.06) !important;\n}\n.nr-dashboard-theme .nr-dashboard-cardpanel .md-title{ color: var(--cf-text) !important; font-weight: 700 !important; }\nbody.nr-dashboard-theme .nr-dashboard-group .nr-dashboard-cardtitle,\nbody.nr-dashboard-theme .nr-dashboard-cardpanel .md-toolbar-tools .md-toolbar-tools-title,\n.nrdb-ui-group__title, .nrdb-ui-group-title {\n  color: #81c784 !important;\n}\n.nr-dashboard-theme .nr-dashboard-cardpanel .md-subhead{ color: var(--cf-muted) !important; }\n.nr-dashboard-theme md-switch .md-bar{ opacity:.75; }\n.nr-dashboard-theme md-switch.md-checked .md-bar{ background: rgba(79,140,255,.55) !important; }\n.nr-dashboard-theme md-switch.md-checked .md-thumb{ background: var(--cf-accent) !important; }\n\n/* 자동/수동 모드 스위치: ON=자동(녹색), OFF=수동(빨강) */\n.nr-dashboard-theme md-switch.cf-mode .md-bar{ background: rgba(220,53,69,.45) !important; }\n.nr-dashboard-theme md-switch.cf-mode .md-thumb{ background: rgba(220,53,69,1) !important; }\n.nr-dashboard-theme md-switch.cf-mode.md-checked .md-bar{ background: rgba(40,167,69,.55) !important; }\n.nr-dashboard-theme md-switch.cf-mode.md-checked .md-thumb{ background: rgba(40,167,69,1) !important; }\n\n/* raw text blocks (status/tele/cmd): wrap + thin font + scroll */\n.cf-raw{ width:100%; }\n.cf-raw-title{ color: var(--cf-muted); font-size: 12px; margin-bottom: 6px; }\n.cf-raw pre{\n  margin:0;\n  padding:10px 12px;\n  background: rgba(255,255,255,.04);\n  border: 1px solid rgba(255,255,255,.06);\n  border-radius: 12px;\n  color: var(--cf-text);\n  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace;\n  font-size: 12px;\n  font-weight: 400;\n  line-height: 1.35;\n  white-space: pre-wrap;\n  overflow-wrap: anywhere;\n  max-height: 140px;\n  overflow: auto;\n}\n.cf-raw.cf-raw-compact .cf-raw-title{ margin-bottom:2px; font-size:11px; }\n.cf-raw.cf-raw-compact pre{\n  max-height:1.55em;\n  line-height:1.55em;\n  white-space:nowrap;\n  overflow-x:auto;\n  overflow-y:hidden;\n  padding:5px 8px;\n  font-size:11px;\n}\n\n/* tele 요약 + 보조 텍스트 */\n.cf-muted{ color: var(--cf-muted); font-size: 11px; }\n.cf-tele-preview{ width:100%; margin-top: 6px; }\n.cf-tele-preview pre{\n  margin:0;\n  padding:8px 10px;\n  background: rgba(255,255,255,.03);\n  border: 1px solid rgba(255,255,255,.06);\n  border-radius: 10px;\n  color: var(--cf-text);\n  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace;\n  font-size: 11px;\n  line-height: 1.35;\n  white-space: pre-wrap;\n  overflow-wrap: anywhere;\n  /* 요약 영역은 스크롤바 없이 자동 줄바꿈만 */\n  max-height: none !important;\n  overflow: visible !important;\n}\n\n/* 숫자 입력 스핀 숨김(남아 있는 ui_numeric 등) */\n.nr-dashboard-theme input[type=number]::-webkit-outer-spin-button,\n.nr-dashboard-theme input[type=number]::-webkit-inner-spin-button{\n  -webkit-appearance: none;\n  margin: 0;\n}\n.nr-dashboard-theme input[type=number]{ -moz-appearance: textfield; }\n\n/* 드롭다운: tele 갱신 시 트랜지션으로 보이는 깜빡임 완화 */\n.nr-dashboard-theme md-select .md-select-value{ transition:none !important; }\n</style>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "global",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_css_pills",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "name": "CronusFarm Pills CSS",
    "order": 0,
    "width": "12",
    "height": "1",
    "format": "<style>\n/* common row */\n.cf-row{ display:flex; align-items:center; justify-content:space-between; gap:12px; padding:6px 0; min-width:0; }\n.cf-label{ color: var(--cf-text); font-size: 13px; font-weight: 500; min-width:0; }\n\n/* A/B Bed 상태 줄: 가로 스크롤바 방지 */\n.cf-row-bed{ overflow-x: hidden; width:100%; }\n.cf-row-bed .cf-pill{ flex-shrink:0; }\n\n/* Pi 서비스 줄 */\n.cf-row-pi-srv{ overflow-x: hidden; }\n\n/* ON/OFF status pills */\n.cf-pill{ min-width:54px; text-align:center; padding:6px 10px; border-radius: 999px; font-size: 12px; font-weight: 700; letter-spacing:.2px; }\n.cf-on{ background: rgba(40,167,69,.18); border:1px solid rgba(40,167,69,.45); color:#7CFF9C; }\n.cf-off{ background: rgba(220,53,69,.14); border:1px solid rgba(220,53,69,.45); color:#FF7C88; }\n\n/* dot lamps */\n.cf-dot{ width:12px; height:12px; border-radius:50%; box-shadow: 0 0 0 1px rgba(255,255,255,.12) inset; }\n.cf-dot-on{ background: rgba(40,167,69,1); box-shadow: 0 0 14px rgba(40,167,69,.55); }\n.cf-dot-off{ background: rgba(220,53,69,1); box-shadow: 0 0 14px rgba(220,53,69,.35); }\n</style>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "global",
    "x": 0,
    "y": 0,
    "wires": []
  },
  {
    "id": "ui_tpl_css_homekit_v2",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "name": "HomeKit CSS (Dashboard2)",
    "order": 0,
    "width": "12",
    "height": "1",
    "format": "<style>\n/* HomeKit 스타일(Glassmorphism) — Dashboard 2(@flowfuse, Vuetify) + Dashboard 1 fallback */\n:root{\n  --hk-bg:#F2F2F7;\n  --hk-card: rgba(255, 255, 255, 0.78);\n  --hk-radius: 20px;\n  --hk-shadow: 0 4px 20px rgba(0,0,0,0.05);\n  --hk-text:#111;\n  --hk-muted:#6b7280;\n  --hk-accent:#007AFF;\n}\n\n/* 전체 배경 */\nhtml, body{ background: var(--hk-bg) !important; }\n\n/* -------------------- Dashboard 2 (Vuetify) -------------------- */\n/* Vuetify 앱 루트 */\n.v-application{ background: var(--hk-bg) !important; color: var(--hk-text) !important; }\n\n/* 카드(그룹/위젯) — Vuetify card/sheet 기반 */\n.v-card, .v-sheet{\n  background: var(--hk-card) !important;\n  backdrop-filter: blur(12px);\n  -webkit-backdrop-filter: blur(12px);\n  border-radius: var(--hk-radius) !important;\n  box-shadow: var(--hk-shadow) !important;\n  border: 1px solid rgba(255,255,255,0.35) !important;\n}\n\n/* 그룹(섹션) 타이틀: 환경마다 다를 수 있어 보수적으로 적용 */\n.nrdb-ui-group-title, .nrdb-ui-group__title, .v-card-title, .v-toolbar-title{\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif !important;\n  font-weight: 800 !important;\n  color: var(--hk-text) !important;\n}\n\n/* 버튼 */\n.v-btn{\n  border-radius: 15px !important;\n  background: rgba(255,255,255,0.92) !important;\n  color: #333 !important;\n  box-shadow: 0 2px 8px rgba(0,0,0,0.06) !important;\n  transition: transform 0.12s ease, background-color 0.2s ease;\n}\n.v-btn:active{ transform: scale(0.98); background: rgba(229,229,234,0.95) !important; }\n\n/* 스위치(토글) — 과한 오버라이드는 피하고, 크기/여백만 정리 */\n.v-switch{ margin-top: 0 !important; margin-bottom: 0 !important; }\n\n/* -------------------- Dashboard 1 fallback (Angular) -------------------- */\nbody{ background-color: var(--hk-bg) !important; }\n.nr-dashboard-group{\n  background: var(--hk-card) !important;\n  backdrop-filter: blur(10px);\n  border-radius: var(--hk-radius) !important;\n  box-shadow: var(--hk-shadow) !important;\n  border: 1px solid rgba(255,255,255,0.3) !important;\n  margin: 12px !important;\n  padding: 10px !important;\n}\n.nr-dashboard-group-title{\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif !important;\n  font-weight: 700 !important;\n  color: #000 !important;\n  font-size: 1.2rem !important;\n  padding-bottom: 8px !important;\n}\n.nr-dashboard-ui_button{ border-radius: 15px !important; }\n\n/* -------------------- 반응형 타일(템플릿용) -------------------- */\n.hk-container{\n  display: grid;\n  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));\n  gap: 14px;\n  padding: 8px;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif;\n}\n.hk-card{\n  background: rgba(255, 255, 255, 0.7);\n  backdrop-filter: blur(14px);\n  -webkit-backdrop-filter: blur(14px);\n  border-radius: 22px;\n  padding: 16px;\n  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);\n  border: 1px solid rgba(255, 255, 255, 0.35);\n  display:flex;\n  flex-direction: column;\n  justify-content: space-between;\n  aspect-ratio: 1 / 1;\n}\n.hk-card:active{ transform: scale(0.98); background: rgba(255,255,255,0.92); }\n.hk-icon{ font-size: 22px; margin-bottom: 10px; color: #8E8E93; }\n.hk-value{ font-size: 1.7rem; font-weight: 700; color: #000; margin: 4px 0; }\n.hk-label{ font-size: 0.9rem; font-weight: 600; color: #8E8E93; }\n\n/* 작은 화면에서는 카드 간격 축소 */\n@media (max-width: 420px){\n  .hk-container{ gap: 10px; padding: 6px; }\n  .hk-card{ padding: 14px; border-radius: 18px; }\n}\n</style>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "global",
    "x": 0,
    "y": 0,
    "wires": []
  }
  ,
  {
    "id": "ui_tpl_css_tiles_v1",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_pi",
    "name": "CronusFarm Tiles CSS",
    "order": 0,
    "width": "12",
    "height": "1",
    "format": "<style>\n/* 설정 화면: 기존 ui_switch는 카드형으로 대체(숨김) */\n.nr-dashboard-theme md-switch.cf-hide{ display:none !important; }\n\n/* 위젯 내부 스크롤바 방지(높이 넘침 최소화) */\n.nr-dashboard-theme .nr-dashboard-template{ overflow: hidden !important; }\n.nr-dashboard-theme md-card{ overflow: hidden !important; }\n.nr-dashboard-theme md-card-content{ overflow: hidden !important; }\n\n/* 모니터/설정 공통: 카드형 타일(반응형) + 입체 버튼 느낌 */\n.cf-tile{ display:flex; align-items:center; justify-content:space-between; gap:10px; padding:8px 10px; border-radius:16px; background: linear-gradient(165deg, rgba(255,255,255,.1), rgba(255,255,255,.03)); border:1px solid rgba(255,255,255,.12); min-height:46px; box-sizing:border-box; cursor:default; box-shadow: 0 4px 0 rgba(0,0,0,.28), 0 8px 20px rgba(0,0,0,.18), inset 0 1px 0 rgba(255,255,255,.1); transition: transform .1s ease, box-shadow .12s ease; }\n.cf-tile[ng-click]{ cursor:pointer; }\n.cf-tile[ng-click]:active{ transform: translateY(2px); box-shadow: 0 2px 0 rgba(0,0,0,.25), inset 0 2px 6px rgba(0,0,0,.2); }\n.cf-tile-left{ display:flex; align-items:center; gap:8px; min-width:0; }\n.cf-ic{ width:30px; height:30px; border-radius:11px; display:flex; align-items:center; justify-content:center; background: rgba(79,140,255,.16); border:1px solid rgba(79,140,255,.22); flex-shrink:0; }\n.cf-ic-fan{ background: rgba(67,160,71,.22) !important; border-color: rgba(46,125,50,.45) !important; }\n.cf-ic svg{ width:16px; height:16px; }\n.cf-tile-txt{ min-width:0; }\n.cf-tile-name{ font-size:12px; font-weight:900; color: var(--cf-text); white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:1.1; }\n.cf-pin{ color: var(--cf-muted); font-weight:800; font-size:11px; margin-left:6px; }\n.cf-tile-sub{ font-size:10px; color: var(--cf-muted); margin-top:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:1.1; }\n.cf-tile-right{ display:flex; align-items:center; gap:10px; flex-shrink:0; }\n\n/* 모바일: 터치 조작 편의 */\n@media (max-width: 520px){\n  .cf-tile{ padding:12px 14px; border-radius:18px; min-height:58px; }\n  .cf-ic{ width:38px; height:38px; }\n  .cf-ic svg{ width:20px; height:20px; }\n  .cf-tile-name{ font-size:14px; }\n}\n</style>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "global",
    "x": 0,
    "y": 0,
    "wires": []
  }
  ,
  {
    "id": "ui_tpl_shell_html",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_shell",
    "name": "CronusFarm Shell UI (HTML 컨셉)",
    "order": 1,
    "width": "12",
    "height": "12",
    "format": "<div id=\"cf-shell\">\n<style>\n#cf-shell{\n  --g0:#040d07;--g1:#0a1a0f;--g2:#0f2415;--g3:#152e1a;\n  --accent:#2dff7a;--accent2:#00e5ff;--accent3:#ffb830;--warn:#ff6b35;--pu:#bb86fc;\n  --muted:#3a5c42;--text:#c8e6c9;--text2:#6b9c73;--text3:#3a5c42;\n  --border:rgba(45,255,122,.07);--border2:rgba(45,255,122,.16);\n  --card:rgba(10,26,15,.9);--glow:0 0 28px rgba(45,255,122,.07);\n  --fh:'Syne',sans-serif;--fm:'DM Mono',monospace;--fb:'Noto Sans KR',sans-serif;\n  position:relative; color:var(--text); font-family:var(--fb);\n}\n#cf-shell *{box-sizing:border-box}\n#cf-shell .wrap{position:relative;min-height:calc(100vh - 120px);background:var(--g0);border-radius:14px;overflow:hidden;border:1px solid var(--border)}\n#cf-shell .wrap::before{content:'';position:absolute;inset:0;z-index:0;pointer-events:none;\n  background-image:linear-gradient(rgba(45,255,122,.022) 1px,transparent 1px),linear-gradient(90deg,rgba(45,255,122,.022) 1px,transparent 1px);\n  background-size:48px 48px;animation:gp 8s ease-in-out infinite}\n#cf-shell .wrap::after{content:'';position:absolute;inset:0;z-index:0;pointer-events:none;\n  background:radial-gradient(ellipse 55% 40% at 15% 15%,rgba(45,255,122,.04) 0%,transparent 70%),\n             radial-gradient(ellipse 45% 55% at 85% 85%,rgba(0,229,255,.025) 0%,transparent 70%)}\n@keyframes gp{0%,100%{opacity:.5}50%{opacity:1}}\n\n#cf-shell .topbar{position:sticky;top:0;z-index:2;height:54px;background:rgba(4,13,7,.92);backdrop-filter:blur(24px);\n  border-bottom:1px solid var(--border2);display:flex;align-items:center}\n#cf-shell .logo-block{width:58px;height:54px;background:var(--accent);display:flex;align-items:center;justify-content:center;\n  clip-path:polygon(0 0,100% 0,82% 100%,0 100%);flex-shrink:0;font-size:20px}\n#cf-shell .brand{padding:0 16px 0 12px;border-right:1px solid var(--border2);height:54px;display:flex;flex-direction:column;justify-content:center}\n#cf-shell .brand-name{font-family:var(--fh);font-size:16px;font-weight:800;letter-spacing:.06em;color:var(--accent);text-transform:uppercase}\n#cf-shell .brand-sub{font-family:var(--fm);font-size:9px;color:var(--text2);letter-spacing:.14em;margin-top:1px}\n#cf-shell .statusbar{display:flex;align-items:center;gap:18px;padding:0 18px;flex:1;overflow:hidden}\n#cf-shell .si{display:flex;align-items:center;gap:5px;flex-shrink:0}\n#cf-shell .sdot{width:6px;height:6px;border-radius:50%;background:var(--accent);box-shadow:0 0 8px var(--accent);animation:blink 2s ease-in-out infinite}\n#cf-shell .sdot.w{background:var(--accent3);box-shadow:0 0 8px var(--accent3)}\n#cf-shell .sdot.e{background:var(--warn);box-shadow:0 0 8px var(--warn)}\n@keyframes blink{0%,100%{opacity:1}50%{opacity:.25}}\n#cf-shell .sl{font-family:var(--fm);font-size:9px;color:var(--text3);letter-spacing:.1em}\n#cf-shell .sv{font-family:var(--fm);font-size:9px;color:var(--text);font-weight:500}\n#cf-shell .clock{margin-left:auto;padding-right:18px;font-family:var(--fm);font-size:11px;color:var(--text2);letter-spacing:.04em;flex-shrink:0}\n#cf-shell .clock span{color:var(--accent);font-weight:500}\n\n#cf-shell .sidebar{position:absolute;top:54px;left:0;bottom:0;z-index:1;width:60px;background:rgba(4,13,7,.85);backdrop-filter:blur(16px);\n  border-right:1px solid var(--border);display:flex;flex-direction:column;align-items:center;padding:10px 0;gap:2px}\n#cf-shell .nb{width:42px;height:42px;border-radius:7px;display:flex;flex-direction:column;align-items:center;justify-content:center;\n  cursor:pointer;border:1px solid transparent;color:var(--text3);transition:all .2s;gap:3px;text-decoration:none;position:relative}\n#cf-shell .nb:hover,#cf-shell .nb.on{background:rgba(45,255,122,.06);border-color:var(--border2);color:var(--accent)}\n#cf-shell .nb.on::before{content:'';position:absolute;left:-1px;top:50%;transform:translateY(-50%);\n  width:3px;height:18px;background:var(--accent);border-radius:0 2px 2px 0;box-shadow:0 0 8px var(--accent)}\n#cf-shell .nb-ic{font-size:16px;line-height:1}\n#cf-shell .nb-lbl{font-family:var(--fm);font-size:7px;letter-spacing:.05em;line-height:1}\n#cf-shell .ndiv{width:30px;height:1px;background:var(--border2);margin:5px 0}\n\n#cf-shell .main{position:relative;z-index:1;margin-left:60px;padding:18px}\n#cf-shell .sec{display:flex;align-items:center;gap:10px;margin:18px 0 12px}\n#cf-shell .secline{flex:1;height:1px;background:var(--border2)}\n#cf-shell .sectl{font-family:var(--fh);font-size:9px;font-weight:700;letter-spacing:.2em;text-transform:uppercase;color:var(--text2);white-space:nowrap}\n#cf-shell .secbdg{font-family:var(--fm);font-size:8px;color:var(--text3);background:rgba(45,255,122,.04);\n  border:1px solid var(--border);padding:2px 6px;border-radius:2px;letter-spacing:.06em;white-space:nowrap}\n#cf-shell .g{display:grid;gap:7px}\n#cf-shell .g6{grid-template-columns:repeat(6,1fr)}\n#cf-shell .g2{grid-template-columns:1fr 1fr}\n#cf-shell .g3{grid-template-columns:1fr 1fr 1fr}\n#cf-shell .card{background:var(--card);border:1px solid var(--border);border-radius:6px;padding:11px 13px;\n  backdrop-filter:blur(8px);transition:border-color .2s,box-shadow .2s;position:relative;overflow:hidden}\n#cf-shell .card::before{content:'';position:absolute;inset:0;pointer-events:none;\n  background:linear-gradient(135deg,rgba(45,255,122,.025) 0%,transparent 55%)}\n#cf-shell .card:hover{border-color:var(--border2);box-shadow:var(--glow)}\n#cf-shell .clbl{font-family:var(--fm);font-size:9px;color:var(--text3);letter-spacing:.13em;text-transform:uppercase;\n  margin-bottom:6px;display:flex;align-items:center;justify-content:space-between}\n#cf-shell .ctype{font-size:8px;background:rgba(45,255,122,.04);border:1px solid var(--border);\n  color:var(--text3);padding:1px 5px;border-radius:2px}\n#cf-shell .val{font-family:var(--fm);font-size:24px;font-weight:500;line-height:1}\n#cf-shell .vu{font-size:11px;color:var(--text2);margin-left:2px}\n#cf-shell .ok{color:var(--accent)}.wn{color:var(--accent3)}.er{color:var(--warn)}.inf{color:var(--accent2)}\n#cf-shell .bar{height:3px;background:rgba(45,255,122,.07);border-radius:2px;margin-top:7px;overflow:hidden}\n#cf-shell .bf{height:100%;border-radius:2px;transition:width .8s ease}\n#cf-shell .bok{background:var(--accent);box-shadow:0 0 7px rgba(45,255,122,.35)}\n#cf-shell .binf{background:var(--accent2)}\n#cf-shell .sublbl{font-size:9px;color:var(--text3);margin-top:3px;font-family:var(--fm)}\n\n@media(max-width:900px){\n  #cf-shell .g6{grid-template-columns:repeat(3,1fr)}\n  #cf-shell .sidebar{width:44px}\n  #cf-shell .main{margin-left:44px}\n  #cf-shell .statusbar .si:nth-child(n+6){display:none}\n}\n@media(max-width:600px){\n  #cf-shell .g3,#cf-shell .g6{grid-template-columns:1fr 1fr}\n  #cf-shell .g2{grid-template-columns:1fr}\n  #cf-shell .main{padding:12px}\n}\n</style>\n\n<div class=\"wrap\">\n  <header class=\"topbar\">\n    <div class=\"logo-block\">🌿</div>\n    <div class=\"brand\">\n      <div class=\"brand-name\">CronusFarm</div>\n      <div class=\"brand-sub\">ARTICHOKE SMART SYSTEM v2.1</div>\n    </div>\n    <div class=\"statusbar\">\n      <div class=\"si\"><div class=\"sdot\" id=\"dot-sys\"></div><div class=\"sl\">SYSTEM</div><div class=\"sv\">LIVE</div></div>\n      <div class=\"si\"><div class=\"sdot\" id=\"dot-nr\"></div><div class=\"sl\">NODE-RED</div><div class=\"sv\">OK</div></div>\n      <div class=\"si\"><div class=\"sdot\" id=\"dot-db\"></div><div class=\"sl\">INFLUXDB</div><div class=\"sv\">OK</div></div>\n      <div class=\"si\"><div class=\"sdot w\" id=\"dot-ec\"></div><div class=\"sl\">EC</div><div class=\"sv\">—</div></div>\n      <div class=\"si\"><div class=\"sdot\" id=\"dot-ph\"></div><div class=\"sl\">pH</div><div class=\"sv\">—</div></div>\n      <div class=\"si\"><div class=\"sdot\" id=\"dot-tmp\"></div><div class=\"sl\">TEMP</div><div class=\"sv\">—</div></div>\n      <div class=\"si\"><div class=\"sdot e\" id=\"dot-alrt\"></div><div class=\"sl\">ALERT</div><div class=\"sv\">—</div></div>\n    </div>\n    <div class=\"clock\" id=\"clock\"></div>\n  </header>\n\n  <nav class=\"sidebar\">\n    <div class=\"nb on\" data-dash=\"main\"><div class=\"nb-ic\">⊞</div><div class=\"nb-lbl\">MAIN</div></div>\n    <div class=\"nb\" data-dash=\"env\"><div class=\"nb-ic\">◎</div><div class=\"nb-lbl\">ENV</div></div>\n    <div class=\"nb\" data-dash=\"dev\"><div class=\"nb-ic\">⚙</div><div class=\"nb-lbl\">DEV</div></div>\n    <div class=\"nb\" data-dash=\"crop\"><div class=\"nb-ic\">◈</div><div class=\"nb-lbl\">CROP</div></div>\n    <div class=\"nb\" data-dash=\"pwr\"><div class=\"nb-ic\">⌁</div><div class=\"nb-lbl\">PWR</div></div>\n    <div class=\"ndiv\"></div>\n    <div class=\"nb\" data-dash=\"alrt\"><div class=\"nb-ic\">△</div><div class=\"nb-lbl\">ALRT</div></div>\n  </nav>\n\n  <main class=\"main\">\n    <div class=\"dash on\" id=\"dash-main\">\n      <div class=\"sec\"><div class=\"secline\"></div><div class=\"sectl\">실시간 환경</div><div class=\"secbdg\">tele · preview</div><div class=\"secline\"></div></div>\n      <div class=\"g g6\">\n        <div class=\"card\"><div class=\"clbl\">내부 온도 <span class=\"ctype\">stat</span></div><div class=\"val ok\">—<span class=\"vu\">℃</span></div><div class=\"bar\"><div class=\"bf bok\" style=\"width:35%\"></div></div><div class=\"sublbl\">기준 15~25℃</div></div>\n        <div class=\"card\"><div class=\"clbl\">내부 습도 <span class=\"ctype\">stat</span></div><div class=\"val ok\">—<span class=\"vu\">%</span></div><div class=\"bar\"><div class=\"bf bok\" style=\"width:55%\"></div></div><div class=\"sublbl\">기준 50~75%</div></div>\n        <div class=\"card\"><div class=\"clbl\">pH <span class=\"ctype\">gauge</span></div><div class=\"val ok\">—</div><div class=\"bar\"><div class=\"bf bok\" style=\"width:60%\"></div></div><div class=\"sublbl\">기준 6.0~7.5</div></div>\n        <div class=\"card\"><div class=\"clbl\">EC <span class=\"ctype\">gauge</span></div><div class=\"val wn\">—<span class=\"vu\">mS/cm</span></div><div class=\"bar\"><div class=\"bf b inf\" style=\"width:30%\"></div></div><div class=\"sublbl\">기준 1.5~3.0</div></div>\n        <div class=\"card\"><div class=\"clbl\">CO₂ <span class=\"ctype\">stat</span></div><div class=\"val ok\">—<span class=\"vu\">ppm</span></div><div class=\"bar\"><div class=\"bf bok\" style=\"width:45%\"></div></div><div class=\"sublbl\">최적 800~1200</div></div>\n        <div class=\"card\"><div class=\"clbl\">외부온도 KMA <span class=\"ctype\">api</span></div><div class=\"val inf\">—<span class=\"vu\">℃</span></div><div class=\"bar\"><div class=\"bf binf\" style=\"width:20%\"></div></div><div class=\"sublbl\">기상청 10min</div></div>\n      </div>\n\n      <div class=\"g g2\" style=\"margin-top:7px\">\n        <div class=\"card\"><div class=\"clbl\">온도·습도 24h 추이 <span class=\"ctype\">time series</span></div><div class=\"sublbl\">(노드레드 데이터 연결 시 표시)</div></div>\n        <div class=\"card\"><div class=\"clbl\">pH·EC·TDS 추이 <span class=\"ctype\">time series</span></div><div class=\"sublbl\">(노드레드 데이터 연결 시 표시)</div></div>\n      </div>\n\n      <div class=\"sec\"><div class=\"secline\"></div><div class=\"sectl\">장치 현황</div><div class=\"secbdg\">state timeline · 24h</div><div class=\"secline\"></div></div>\n      <div class=\"g g3\">\n        <div class=\"card\"><div class=\"clbl\">LED 1~5 <span class=\"ctype\">state</span></div><div class=\"sublbl\">(노드레드 데이터 연결 시 표시)</div></div>\n        <div class=\"card\"><div class=\"clbl\">Pump 1~8 <span class=\"ctype\">state</span></div><div class=\"sublbl\">(노드레드 데이터 연결 시 표시)</div></div>\n        <div class=\"card\"><div class=\"clbl\">Fan 1~4 + RPM <span class=\"ctype\">state+rpm</span></div><div class=\"sublbl\">(노드레드 데이터 연결 시 표시)</div></div>\n      </div>\n    </div>\n\n    <div class=\"dash\" id=\"dash-env\"><div class=\"sec\"><div class=\"secline\"></div><div class=\"sectl\">환경</div><div class=\"secbdg\">placeholder</div><div class=\"secline\"></div></div><div class=\"card\"><div class=\"sublbl\">(추후: 센서 현재값/외부기상/시계열)</div></div></div>\n    <div class=\"dash\" id=\"dash-dev\"><div class=\"sec\"><div class=\"secline\"></div><div class=\"sectl\">장치</div><div class=\"secbdg\">placeholder</div><div class=\"secline\"></div></div><div class=\"card\"><div class=\"sublbl\">(추후: LED/Pump/Fan 카드)</div></div></div>\n    <div class=\"dash\" id=\"dash-crop\"><div class=\"sec\"><div class=\"secline\"></div><div class=\"sectl\">작물·AI</div><div class=\"secbdg\">placeholder</div><div class=\"secline\"></div></div><div class=\"card\"><div class=\"sublbl\">(추후: 카메라/AI)</div></div></div>\n    <div class=\"dash\" id=\"dash-pwr\"><div class=\"sec\"><div class=\"secline\"></div><div class=\"sectl\">전력</div><div class=\"secbdg\">placeholder</div><div class=\"secline\"></div></div><div class=\"card\"><div class=\"sublbl\">(추후: 전력/탱크)</div></div></div>\n    <div class=\"dash\" id=\"dash-alrt\"><div class=\"sec\"><div class=\"secline\"></div><div class=\"sectl\">알림</div><div class=\"secbdg\">placeholder</div><div class=\"secline\"></div></div><div class=\"card\"><div class=\"sublbl\">(추후: 알림 테이블)</div></div></div>\n  </main>\n</div>\n\n<script>\n(function(){\n  function pad(n){return String(n).padStart(2,'0');}\n  function tick(){\n    var d=new Date();\n    var el=document.querySelector('#cf-shell #clock');\n    if(!el) return;\n    el.innerHTML = '<span>'+pad(d.getHours())+':'+pad(d.getMinutes())+':'+pad(d.getSeconds())+'</span>&nbsp; '+d.getFullYear()+'.'+pad(d.getMonth()+1)+'.'+pad(d.getDate());\n  }\n  tick(); setInterval(tick,1000);\n\n  function showDash(id){\n    document.querySelectorAll('#cf-shell .dash').forEach(function(d){d.classList.remove('on'); d.style.display='none';});\n    var t=document.querySelector('#cf-shell #dash-'+id);\n    if(t){ t.classList.add('on'); t.style.display='block'; }\n    document.querySelectorAll('#cf-shell .nb').forEach(function(b){b.classList.remove('on');});\n    var nb=document.querySelector('#cf-shell .nb[data-dash=\"'+id+'\"]');\n    if(nb) nb.classList.add('on');\n  }\n  document.querySelectorAll('#cf-shell .nb[data-dash]').forEach(function(b){\n    b.addEventListener('click', function(){ showDash(this.getAttribute('data-dash')); });\n  });\n  showDash('main');\n})();\n</script>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  }
  ,
  {
    "id": "ui_tpl_report_links",
    "type": "ui_template",
    "z": "tab_cronus_dash",
    "group": "ui_grp_report",
    "name": "Grafana 리포트 링크",
    "order": 1,
    "width": "12",
    "height": "6",
    "format": "<div class=\"cf-rpt\">\n<style>\n.cf-rpt{ --g0:#040d07;--accent:#2dff7a;--accent2:#00e5ff;--text:#c8e6c9;--text2:#6b9c73;--border:rgba(45,255,122,.16); --card:rgba(10,26,15,.9); --fm:'DM Mono',monospace; --fb:'Noto Sans KR',sans-serif; font-family:var(--fb); color:var(--text); }\n.cf-rpt .card{background:var(--card);border:1px solid rgba(45,255,122,.07);border-radius:10px;padding:14px;}\n.cf-rpt .ttl{font-family:var(--fm);letter-spacing:.12em;text-transform:uppercase;color:var(--accent);font-weight:700;font-size:12px}\n.cf-rpt .sub{margin-top:6px;color:var(--text2);font-size:12px}\n.cf-rpt .btns{display:flex;flex-wrap:wrap;gap:10px;margin-top:12px}\n.cf-rpt a.btn{display:inline-flex;align-items:center;justify-content:center;padding:10px 14px;border-radius:12px;border:1px solid var(--border);background:rgba(45,255,122,.08);color:var(--accent);text-decoration:none;font-family:var(--fm);font-size:12px;letter-spacing:.06em}\n.cf-rpt a.btn.blue{background:rgba(0,229,255,.08);border-color:rgba(0,229,255,.22);color:var(--accent2)}\n</style>\n<div class=\"card\">\n  <div class=\"ttl\">분석/리포트 (Grafana)</div>\n  <div class=\"sub\">운영콘솔(Node-RED)에서 분석/리포트는 Grafana로 이동합니다. (새 탭으로 열림)</div>\n  <div class=\"btns\">\n    <a class=\"btn\" id=\"cf-g-all\" target=\"_blank\" rel=\"noopener\">올인원</a>\n    <a class=\"btn blue\" id=\"cf-g-html\" target=\"_blank\" rel=\"noopener\">HTML 맵핑</a>\n  </div>\n</div>\n<script>\n(function(){\n  var base = window.location.protocol + '//' + window.location.hostname + ':3000';\n  var a=document.getElementById('cf-g-all'); if(a) a.href = base + '/d/cronusfarm-all-in-one';\n  var b=document.getElementById('cf-g-html'); if(b) b.href = base + '/d/cronusfarm-html-mapped';\n})();\n</script>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 0,
    "y": 0,
    "wires": []
  }
]
