nodered/flows_cronusfarm_mqtt.json
[
  {
    "id": "b1c5a1f1d7a2a3a1",
    "type": "tab",
    "label": "CronusFarm MQTT",
    "disabled": false,
    "info": "UNO R4 WiFi ↔ Node-RED (MQTT)\n- cmd: cronusfarm/<DEVICE_ID>/cmd (예: pump_a1=0/1 on_pump_a1=30)\n- tele: cronusfarm/<DEVICE_ID>/tele (S:|A:|T:|W:)\n\nUI CronusFarm 탭: 펌프 스위치=pump_a1, 슬라이더=ON 주기(초)=on_pump_a1\n기본 DEVICE_ID: cronusfarm-01 (function·tele 구독과 맞출 것)"
  },
  {
    "id": "d6b7f6c1b2b3c4d5",
    "type": "mqtt-broker",
    "name": "Mosquitto (Pi localhost)",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "c0d6f35bdbd7d7c1",
    "type": "ui_tab",
    "name": "CronusFarm (MQTT)",
    "icon": "dashboard",
    "order": 100,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "d1f9b55a9843c0a1",
    "type": "ui_group",
    "name": "제어",
    "tab": "c0d6f35bdbd7d7c1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "a3d2cf2a6f27a2b1",
    "type": "ui_group",
    "name": "상태",
    "tab": "c0d6f35bdbd7d7c1",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "c7b2b8e7cc1b92a1",
    "type": "ui_switch",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "펌프",
    "label": "펌프",
    "tooltip": "",
    "group": "d1f9b55a9843c0a1",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "pump",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "offvalue": "0",
    "offvalueType": "str",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "c2d5b8a8b3cc12a1"
      ]
    ]
  },
  {
    "id": "a8c1c0fe3cc39d21",
    "type": "ui_slider",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "펌프 ON 시간",
    "label": "펌프 ON(초)",
    "tooltip": "아두이노 on_pump_a1 (초)",
    "group": "d1f9b55a9843c0a1",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "onsec",
    "min": 1,
    "max": 300,
    "step": 1,
    "x": 160,
    "y": 180,
    "wires": [
      [
        "c2d5b8a8b3cc12a1"
      ]
    ]
  },
  {
    "id": "c2d5b8a8b3cc12a1",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "cmd payload 만들기",
    "func": "// 펌웨어(CronusFarm.ino): key=value — pump_a1=0/1, on_pump_a1=초(1~)\n// ui_switch/ui_slider에 topic을 pump / onsec 으로 두고 구분합니다.\n\nconst devId = flow.get('deviceId') || 'cronusfarm-01';\nflow.set('deviceId', devId);\n\nconst t = (msg.topic || '').toString();\nif (t === 'pump') {\n    flow.set('pump', String(msg.payload));\n} else if (t === 'onsec') {\n    flow.set('onsec', String(msg.payload));\n}\n\nif (flow.get('pump') === undefined) flow.set('pump', '0');\nif (flow.get('onsec') === undefined) flow.set('onsec', '30');\n\nconst p = flow.get('pump');\nconst o = flow.get('onsec');\n\nmsg.topic = `cronusfarm/${devId}/cmd`;\nmsg.payload = `pump_a1=${p} on_pump_a1=${o}`;\nreturn msg;",
    "initialize": "flow.set('deviceId', flow.get('deviceId') || 'cronusfarm-01');\nflow.set('pump', flow.get('pump') || '0');\nflow.set('onsec', flow.get('onsec') || '30');\n",
    "outputs": 1,
    "noerr": 0,
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 150,
    "wires": [
      [
        "c9f2442f2d2fa2a1"
      ]
    ]
  },
  {
    "id": "c9f2442f2d2fa2a1",
    "type": "mqtt out",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "cmd publish",
    "topic": "",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d6b7f6c1b2b3c4d5",
    "x": 610,
    "y": 150,
    "wires": []
  },
  {
    "id": "d1e4c46e7a9c11a1",
    "type": "mqtt in",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "tele subscribe",
    "topic": "cronusfarm/cronusfarm-01/tele",
    "qos": "1",
    "datatype": "utf8",
    "broker": "d6b7f6c1b2b3c4d5",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 260,
    "wires": [
      [
        "f0e1d2c3b4a59687"
      ]
    ]
  },
  {
    "id": "f0e1d2c3b4a59687",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "tele → raw / S요약",
    "func": "const raw = (msg.payload ?? '').toString();\nconst m = raw.match(/S:\\s*([^|]+)/);\nconst short = m ? m[1].trim().replace(/\\s+/g, ' ') : '(S: 없음 — 아두이노 tele 미수신)';\nreturn [[{ payload: raw, topic: msg.topic }], [{ payload: short }]];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 260,
    "wires": [
      [
        "a0c388b3a7d9b2a1",
        "a9a2b2c3d4e5f6a1"
      ],
      [
        "a1b2c3d4e5f60718"
      ]
    ]
  },
  {
    "id": "a1b2c3d4e5f60718",
    "type": "ui_text",
    "z": "b1c5a1f1d7a2a3a1",
    "group": "a3d2cf2a6f27a2b1",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "tele S 요약",
    "label": "채널(S:)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 390,
    "y": 200,
    "wires": []
  },
  {
    "id": "a0c388b3a7d9b2a1",
    "type": "ui_text",
    "z": "b1c5a1f1d7a2a3a1",
    "group": "a3d2cf2a6f27a2b1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "tele raw",
    "label": "텔레메트리(raw)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 390,
    "y": 240,
    "wires": []
  },
  {
    "id": "a9a2b2c3d4e5f6a1",
    "type": "debug",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "tele debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 390,
    "y": 300,
    "wires": []
  },
  {
    "id": "e1f0a9c8b7d6e5f4",
    "type": "inject",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "Pi WiFi SSID 발행(시작+5분)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 400,
    "wires": [
      [
        "e2f0a9c8b7d6e5f4"
      ]
    ]
  },
  {
    "id": "e2f0a9c8b7d6e5f4",
    "type": "exec",
    "z": "b1c5a1f1d7a2a3a1",
    "command": "/usr/sbin/iwgetid -r 2>/dev/null || iwgetid -r",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "현재 SSID",
    "x": 330,
    "y": 400,
    "wires": [
      [
        "e3f0a9c8b7d6e5f4"
      ],
      [],
      []
    ]
  },
  {
    "id": "e3f0a9c8b7d6e5f4",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "SSID trim",
    "func": "msg.payload = (msg.payload || '').toString().trim();\nif (!msg.payload) return null;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 400,
    "wires": [
      [
        "e4f0a9c8b7d6e5f4"
      ]
    ]
  },
  {
    "id": "e4f0a9c8b7d6e5f4",
    "type": "mqtt out",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "pi wifi_ssid retain",
    "topic": "cronusfarm/pi/wifi_ssid",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d6b7f6c1b2b3c4d5",
    "x": 720,
    "y": 400,
    "wires": []
  }
]

