nodered/flows_cronusfarm_mqtt.json
[
  {
    "id": "b1c5a1f1d7a2a3a1",
    "type": "tab",
    "label": "CronusFarm MQTT",
    "disabled": false,
    "info": "UNO R4 WiFi ↔ Node-RED (MQTT)\n- cmd 토픽: cronusfarm/<DEVICE_ID>/cmd\n- tele 토픽: cronusfarm/<DEVICE_ID>/tele\n\n기본 DEVICE_ID는 cronusfarm-01 입니다.\n\nInfluxDB 2.x (tele 적재)\n- tele 수신 → Line Protocol → POST /api/v2/write\n- Pi에서 Node-RED 서비스 환경변수 설정 예:\n  CRONUSFARM_INFLUX_TOKEN=(Influx API 토큰)\n  CRONUSFARM_INFLUX_ORG=cronusfarm\n  CRONUSFARM_INFLUX_BUCKET=cronusfarm\n  CRONUSFARM_INFLUX_MIN_MS=5000  (기본 5초에 한 번만 기록, tele 1Hz 부하 완화)\n- 토큰이 비어 있으면 기록을 건너뜁니다."
  },
  {
    "id": "d6b7f6c1b2b3c4d5",
    "type": "mqtt-broker",
    "name": "Mosquitto (Pi localhost)",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "c0d6f35bdbd7d7c1",
    "type": "ui_tab",
    "name": "CronusFarm",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "d1f9b55a9843c0a1",
    "type": "ui_group",
    "name": "제어",
    "tab": "c0d6f35bdbd7d7c1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "a3d2cf2a6f27a2b1",
    "type": "ui_group",
    "name": "상태",
    "tab": "c0d6f35bdbd7d7c1",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "c7b2b8e7cc1b92a1",
    "type": "ui_switch",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "펌프",
    "label": "펌프",
    "tooltip": "",
    "group": "d1f9b55a9843c0a1",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "1",
    "onvalueType": "str",
    "offvalue": "0",
    "offvalueType": "str",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "c2d5b8a8b3cc12a1"
      ]
    ]
  },
  {
    "id": "a8c1c0fe3cc39d21",
    "type": "ui_slider",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "팬 PWM",
    "label": "팬(0~255)",
    "tooltip": "",
    "group": "d1f9b55a9843c0a1",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "outs": "all",
    "topic": "",
    "min": 0,
    "max": 255,
    "step": 1,
    "x": 160,
    "y": 180,
    "wires": [
      [
        "c2d5b8a8b3cc12a1"
      ]
    ]
  },
  {
    "id": "c2d5b8a8b3cc12a1",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "cmd payload 만들기",
    "func": "// Arduino가 기대하는 형식: \"pump=1 fan=128\"\n// switch/slider가 각각 들어올 수 있어 마지막 값을 context에 저장해서 합칩니다.\n\nconst devId = flow.get('deviceId') || 'cronusfarm-01';\nflow.set('deviceId', devId);\n\nconst pump = (msg._ui && msg._ui.type === 'switch') ? msg.payload : flow.get('pump');\nconst fan  = (msg._ui && msg._ui.type === 'slider') ? msg.payload : flow.get('fan');\n\nif (msg._ui && msg._ui.type === 'switch') flow.set('pump', pump);\nif (msg._ui && msg._ui.type === 'slider') flow.set('fan', fan);\n\nconst p = (pump === undefined) ? (flow.get('pump') ?? '0') : pump;\nconst f = (fan === undefined)  ? (flow.get('fan')  ?? '0') : fan;\n\nmsg.topic = `cronusfarm/${devId}/cmd`;\nmsg.payload = `pump=${p} fan=${f}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 150,
    "wires": [
      [
        "c9f2442f2d2fa2a1"
      ]
    ]
  },
  {
    "id": "c9f2442f2d2fa2a1",
    "type": "mqtt out",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "cmd publish",
    "topic": "",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d6b7f6c1b2b3c4d5",
    "x": 610,
    "y": 150,
    "wires": []
  },
  {
    "id": "d1e4c46e7a9c11a1",
    "type": "mqtt in",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "tele subscribe",
    "topic": "cronusfarm/cronusfarm-01/tele",
    "qos": "1",
    "datatype": "utf8",
    "broker": "d6b7f6c1b2b3c4d5",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 260,
    "wires": [
      [
        "a0c388b3a7d9b2a1",
        "a9a2b2c3d4e5f6a1",
        "f1a2b3c4d5e6f708"
      ]
    ]
  },
  {
    "id": "a0c388b3a7d9b2a1",
    "type": "ui_text",
    "z": "b1c5a1f1d7a2a3a1",
    "group": "a3d2cf2a6f27a2b1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "tele raw",
    "label": "텔레메트리(raw)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 390,
    "y": 240,
    "wires": []
  },
  {
    "id": "a9a2b2c3d4e5f6a1",
    "type": "debug",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "tele debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 390,
    "y": 300,
    "wires": []
  },
  {
    "id": "e1f0a9c8b7d6e5f4",
    "type": "inject",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "Pi WiFi SSID 발행(시작+5분)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 400,
    "wires": [
      [
        "e2f0a9c8b7d6e5f4"
      ]
    ]
  },
  {
    "id": "e2f0a9c8b7d6e5f4",
    "type": "exec",
    "z": "b1c5a1f1d7a2a3a1",
    "command": "/usr/sbin/iwgetid -r 2>/dev/null || iwgetid -r",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": true,
    "oldrc": false,
    "name": "현재 SSID",
    "x": 330,
    "y": 400,
    "wires": [
      [
        "e3f0a9c8b7d6e5f4"
      ],
      [],
      []
    ]
  },
  {
    "id": "e3f0a9c8b7d6e5f4",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "SSID trim",
    "func": "msg.payload = (msg.payload || '').toString().trim();\nif (!msg.payload) return null;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 520,
    "y": 400,
    "wires": [
      [
        "e4f0a9c8b7d6e5f4"
      ]
    ]
  },
  {
    "id": "e4f0a9c8b7d6e5f4",
    "type": "mqtt out",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "pi wifi_ssid retain",
    "topic": "cronusfarm/pi/wifi_ssid",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d6b7f6c1b2b3c4d5",
    "x": 720,
    "y": 400,
    "wires": []
  },
  {
    "id": "f1a2b3c4d5e6f708",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "tele→Influx Line",
    "func": "// MQTT tele → InfluxDB 2.x Line Protocol (측정값만, 토큰은 환경변수)\n// 필요: CRONUSFARM_INFLUX_TOKEN, 선택: CRONUSFARM_INFLUX_ORG, CRONUSFARM_INFLUX_BUCKET, CRONUSFARM_INFLUX_MIN_MS\n// 주의: Function 노드에서는 process.env 가 없으므로 env.get(...)를 사용합니다.\n\nconst token = (env.get('CRONUSFARM_INFLUX_TOKEN') || '').toString().trim();\nif (!token) {\n  if (!flow.get('_influxWarned')) {\n    flow.set('_influxWarned', true);\n    node.warn('Influx: CRONUSFARM_INFLUX_TOKEN 없음 → 기록 생략');\n  }\n  return null;\n}\n\nconst minMs = parseInt((env.get('CRONUSFARM_INFLUX_MIN_MS') || '5000').toString(), 10) || 5000;\nconst now = Date.now();\nconst last = flow.get('lastInfluxWriteMs') || 0;\nif (now - last < minMs) return null;\nflow.set('lastInfluxWriteMs', now);\n\nconst s = (msg.payload || '').toString();\nfunction parseKV(part) {\n  const out = {};\n  (part || '').trim().split(/\\s+/).forEach(tok => {\n    const m = tok.match(/^([^=]+)=(.+)$/);\n    if (!m) return;\n    out[m[1]] = m[2];\n  });\n  return out;\n}\n\nconst ps = s.split('|').map(x => x.trim());\nconst pS = ps.find(x => x.startsWith('S:'));\nconst pA = ps.find(x => x.startsWith('A:'));\nconst pT = ps.find(x => x.startsWith('T:'));\nconst kvS = parseKV(pS ? pS.slice(2) : '');\nconst kvA = parseKV(pA ? pA.slice(2) : '');\nconst kvT = parseKV(pT ? pT.slice(2) : '');\n\nconst parts = (msg.topic || '').toString().split('/').filter(Boolean);\nconst deviceId = (parts.length >= 2 ? parts[1] : 'cronusfarm-01').replace(/[^a-zA-Z0-9_-]/g, '_');\n\nconst fields = [];\nconst ch = ['led_a1', 'led_a2', 'pump_a1', 'pump_a2', 'led_b1', 'pump_b1', 'pump_b2'];\nch.forEach(k => {\n  if (kvS[k] === undefined) return;\n  fields.push(`${k}=${kvS[k] === '1' ? 1 : 0}i`);\n});\nch.forEach(k => {\n  if (kvA[k] === undefined) return;\n  fields.push(`auto_${k}=${kvA[k] === '1' ? 1 : 0}i`);\n});\nObject.keys(kvT).forEach(k => {\n  const m = (kvT[k] || '').toString().match(/^(\\d+)\\/(\\d+)$/);\n  if (!m) return;\n  fields.push(`${k}_on_s=${parseInt(m[1], 10)}i`);\n  fields.push(`${k}_off_s=${parseInt(m[2], 10)}i`);\n});\n\nif (!fields.length) return null;\n\nconst org = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_ORG') || 'cronusfarm').toString()));\nconst bucket = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_BUCKET') || 'cronusfarm').toString()));\nconst base = ((env.get('CRONUSFARM_INFLUX_URL') || 'http://127.0.0.1:8086/api/v2/write').toString()).replace(/\\/$/, '');\n\nmsg.method = 'POST';\nmsg.url = `${base}?org=${org}&bucket=${bucket}&precision=ns`;\nmsg.headers = {\n  Authorization: `Token ${token}`,\n  'Content-Type': 'text/plain; charset=utf-8'\n};\nmsg.payload = `tele,device_id=${deviceId} ${fields.join(',')} ${now * 1e6}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 320,
    "wires": [
      [
        "f1a2b3c4d5e6f709"
      ]
    ]
  },
  {
    "id": "f1a2b3c4d5e6f709",
    "type": "http request",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "Influx POST write",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 610,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "httpin_alert_events",
    "type": "http in",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "알림 이벤트 입력",
    "url": "/cronusfarm/alert",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 520,
    "wires": [
      [
        "json_alert_events"
      ]
    ]
  },
  {
    "id": "json_alert_events",
    "type": "json",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 520,
    "wires": [
      [
        "fn_alert_to_influx",
        "httpres_alert_ok"
      ]
    ]
  },
  {
    "id": "fn_alert_to_influx",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "alert_events→Influx Line",
    "func": "// 알림/이벤트(JSON) → InfluxDB (measurement: alert_events)\n// bucket은 환경변수 CRONUSFARM_INFLUX_BUCKET(권장: CronusFarm)을 사용합니다.\n\nconst token = (env.get('CRONUSFARM_INFLUX_TOKEN') || '').toString().trim();\nif (!token) return null;\n\nconst p = (msg.payload && typeof msg.payload === 'object') ? msg.payload : {};\n\nfunction escTag(v) {\n  return (v ?? '').toString().replace(/[,=\\s]/g, '_');\n}\nfunction escStr(v) {\n  return (v ?? '').toString().replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n}\nfunction numOrNull(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nconst now = Date.now();\nconst org = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_ORG') || 'cronusfarm').toString()));\nconst bucket = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_BUCKET') || 'CronusFarm').toString()));\nconst base = ((env.get('CRONUSFARM_INFLUX_URL') || 'http://127.0.0.1:8086/api/v2/write').toString()).replace(/\\/$/, '');\n\nconst tags = [`source=${escTag(p.source || 'unknown')}`];\nif (p.zone) tags.push(`zone=${escTag(p.zone)}`);\nif (p.alert_type) tags.push(`alert_type=${escTag(p.alert_type)}`);\n\nconst fields = [];\nif (p.severity !== undefined) fields.push(`severity=\\\"${escStr(p.severity)}\\\"`);\nif (p.message !== undefined) fields.push(`message=\\\"${escStr(p.message)}\\\"`);\n\nconst va = numOrNull(p.value_actual);\nif (va !== null) fields.push(`value_actual=${va}`);\nconst vt = numOrNull(p.value_threshold);\nif (vt !== null) fields.push(`value_threshold=${vt}`);\n\nif (!fields.length) return null;\n\nmsg.method = 'POST';\nmsg.url = `${base}?org=${org}&bucket=${bucket}&precision=ns`;\nmsg.headers = { Authorization: `Token ${token}`, 'Content-Type': 'text/plain; charset=utf-8' };\nmsg.payload = `alert_events,${tags.join(',')} ${fields.join(',')} ${now * 1e6}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 520,
    "wires": [
      [
        "f1a2b3c4d5e6f709"
      ]
    ]
  },
  {
    "id": "httpres_alert_ok",
    "type": "http response",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "OK",
    "statusCode": "204",
    "headers": {},
    "x": 580,
    "y": 560,
    "wires": []
  },
  {
    "id": "httpin_ai_detections",
    "type": "http in",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "AI 감지 입력",
    "url": "/cronusfarm/ai",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 660,
    "wires": [
      [
        "json_ai_detections"
      ]
    ]
  },
  {
    "id": "json_ai_detections",
    "type": "json",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 660,
    "wires": [
      [
        "fn_ai_to_influx",
        "httpres_ai_ok"
      ]
    ]
  },
  {
    "id": "fn_ai_to_influx",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "ai_detections→Influx Line",
    "func": "// AI 감지(JSON) → InfluxDB (measurement: ai_detections)\n\nconst token = (env.get('CRONUSFARM_INFLUX_TOKEN') || '').toString().trim();\nif (!token) return null;\n\nconst p = (msg.payload && typeof msg.payload === 'object') ? msg.payload : {};\n\nfunction escTag(v) {\n  return (v ?? '').toString().replace(/[,=\\s]/g, '_');\n}\nfunction escStr(v) {\n  return (v ?? '').toString().replace(/\\\\/g, '\\\\\\\\').replace(/\"/g, '\\\\\"');\n}\nfunction numOrNull(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nconst now = Date.now();\nconst org = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_ORG') || 'cronusfarm').toString()));\nconst bucket = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_BUCKET') || 'CronusFarm').toString()));\nconst base = ((env.get('CRONUSFARM_INFLUX_URL') || 'http://127.0.0.1:8086/api/v2/write').toString()).replace(/\\/$/, '');\n\nconst tags = [];\nif (p.zone) tags.push(`zone=${escTag(p.zone)}`);\nif (p.camera) tags.push(`camera=${escTag(p.camera)}`);\nif (p.detection_type) tags.push(`detection_type=${escTag(p.detection_type)}`);\nif (p.label) tags.push(`label=${escTag(p.label)}`);\n\nconst fields = [];\nconst conf = numOrNull(p.confidence);\nif (conf !== null) fields.push(`confidence=${conf}`);\nif (p.severity !== undefined) fields.push(`severity=\\\"${escStr(p.severity)}\\\"`);\nif (p.model_name !== undefined) fields.push(`model_name=\\\"${escStr(p.model_name)}\\\"`);\nif (p.model_version !== undefined) fields.push(`model_version=\\\"${escStr(p.model_version)}\\\"`);\nif (p.is_confirmed !== undefined) fields.push(`is_confirmed=${(p.is_confirmed ? 1 : 0)}i`);\n\nif (!fields.length) return null;\n\nmsg.method = 'POST';\nmsg.url = `${base}?org=${org}&bucket=${bucket}&precision=ns`;\nmsg.headers = { Authorization: `Token ${token}`, 'Content-Type': 'text/plain; charset=utf-8' };\nmsg.payload = `ai_detections${tags.length ? ',' + tags.join(',') : ''} ${fields.join(',')} ${now * 1e6}`;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 660,
    "wires": [
      [
        "f1a2b3c4d5e6f709"
      ]
    ]
  },
  {
    "id": "httpres_ai_ok",
    "type": "http response",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "OK",
    "statusCode": "204",
    "headers": {},
    "x": 580,
    "y": 700,
    "wires": []
  },
  {
    "id": "inj_kma_30m",
    "type": "inject",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "KMA 30분 주기",
    "props": [
      { "p": "payload" },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "1800",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "kma/poll",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 780,
    "wires": [
      [ "fn_kma_build_req" ]
    ]
  },
  {
    "id": "fn_kma_build_req",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "KMA 요청 URL 생성",
    "func": "// 기상청 초단기실황(getUltraSrtNcst) → JSON\n// env:\n// - CRONUSFARM_KMA_SERVICE_KEY : 디코딩된 서비스키(= 포함 원문) 권장\n// - CRONUSFARM_KMA_NX / CRONUSFARM_KMA_NY : 격자 좌표\n// 주의: KMA는 KST(UTC+9) 기준 base_date/base_time을 사용합니다.\n\nconst key = (env.get('CRONUSFARM_KMA_SERVICE_KEY') || '').toString().trim();\nconst nx = parseInt((env.get('CRONUSFARM_KMA_NX') || '0').toString(), 10) || 0;\nconst ny = parseInt((env.get('CRONUSFARM_KMA_NY') || '0').toString(), 10) || 0;\nif (!key || !nx || !ny) {\n  node.warn('KMA: SERVICE_KEY 또는 NX/NY 누락 → 수집 생략');\n  return null;\n}\n\nfunction pad2(n) { return (n < 10 ? '0' : '') + n; }\n\n// KST now\nconst nowUtc = new Date();\nconst nowKstMs = nowUtc.getTime() + (9 * 60 * 60 * 1000);\nconst nowKst = new Date(nowKstMs);\n\nlet y = nowKst.getUTCFullYear();\nlet mo = nowKst.getUTCMonth() + 1;\nlet d = nowKst.getUTCDate();\nlet hh = nowKst.getUTCHours();\nlet mm = nowKst.getUTCMinutes();\n\n// 발표 시각 여유: 매 시각 40분 이후에 해당 시간 데이터가 안정적으로 조회되는 경우가 많아\n// 40분 이전이면 이전 시간(정시)로 물립니다.\nif (mm < 40) {\n  hh -= 1;\n  if (hh < 0) {\n    hh = 23;\n    const prev = new Date(nowKstMs - 24 * 60 * 60 * 1000);\n    y = prev.getUTCFullYear();\n    mo = prev.getUTCMonth() + 1;\n    d = prev.getUTCDate();\n  }\n}\n\nconst base_date = `${y}${pad2(mo)}${pad2(d)}`;\nconst base_time = `${pad2(hh)}00`;\n\nconst qs = new URLSearchParams({\n  serviceKey: key,\n  numOfRows: '60',\n  pageNo: '1',\n  dataType: 'JSON',\n  base_date,\n  base_time,\n  nx: String(nx),\n  ny: String(ny)\n});\n\nmsg.method = 'GET';\nmsg.url = `https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?${qs.toString()}`;\nmsg.headers = { 'User-Agent': 'CronusFarm/NodeRED' };\nmsg.kma = { base_date, base_time, nx, ny };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 780,
    "wires": [
      [ "http_kma_get" ]
    ]
  },
  {
    "id": "http_kma_get",
    "type": "http request",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "KMA GET",
    "method": "use",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 600,
    "y": 780,
    "wires": [
      [ "fn_kma_to_influx" ]
    ]
  },
  {
    "id": "fn_kma_to_influx",
    "type": "function",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "KMA→Influx Line",
    "func": "// KMA 응답(JSON) → Influx write + MQTT 스냅샷(/ui Farm 환경)\n// 출력1: Influx(토큰 있을 때만) · 출력2: cronusfarm/kma/snapshot(retain)\n\nconst token = (env.get('CRONUSFARM_INFLUX_TOKEN') || '').toString().trim();\n\nfunction numOrNull(v) {\n  const n = Number(v);\n  return Number.isFinite(n) ? n : null;\n}\n\nif (typeof msg.payload === 'string') {\n  const raw = msg.payload;\n  try {\n    msg.payload = JSON.parse(raw);\n  } catch (e) {\n    node.warn('KMA: JSON 파싱 실패(응답 일부): ' + raw.slice(0, 200));\n    return null;\n  }\n}\n\nconst body = msg.payload;\nconst items = body?.response?.body?.items?.item;\nif (!Array.isArray(items)) {\n  node.warn('KMA: items 없음/형식 불일치');\n  return null;\n}\n\nconst m = {};\nfor (const it of items) {\n  const cat = (it?.category || '').toString();\n  const val = (it?.obsrValue ?? '').toString();\n  if (!cat) continue;\n  m[cat] = val;\n}\n\nconst temp = numOrNull(m.T1H);\nconst reh = numOrNull(m.REH);\nconst vec = numOrNull(m.VEC);\nconst wsd = numOrNull(m.WSD);\nconst pty = numOrNull(m.PTY);\n\nconst fields = [];\nif (temp !== null) fields.push(`kma_temp=${temp}`);\nif (reh !== null) fields.push(`kma_humidity=${reh}`);\nif (vec !== null) fields.push(`kma_wind_dir=${vec}`);\nif (wsd !== null) fields.push(`kma_wind_speed=${wsd}`);\nif (pty !== null) fields.push(`kma_pty=${pty}i`);\n\nconst now = Date.now();\nconst org = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_ORG') || 'cronusfarm').toString()));\nconst bucket = encodeURIComponent(((env.get('CRONUSFARM_INFLUX_BUCKET') || 'CronusFarm').toString()));\nconst base = ((env.get('CRONUSFARM_INFLUX_URL') || 'http://127.0.0.1:8086/api/v2/write').toString()).replace(/\\/$/, '');\nconst nx = msg.kma?.nx;\nconst ny = msg.kma?.ny;\nconst tags = [`source=kma`];\nif (nx && ny) tags.push(`nx=${nx}`, `ny=${ny}`);\n\nconst snap = {\n  kma_temp: temp,\n  kma_humidity: reh,\n  kma_wind_dir: vec,\n  kma_wind_speed: wsd,\n  kma_pty: pty,\n  base_date: msg.kma?.base_date,\n  base_time: msg.kma?.base_time,\n  nx,\n  ny,\n  ts: now\n};\n\nconst uiMsg = {\n  topic: 'cronusfarm/kma/snapshot',\n  qos: 0,\n  retain: true,\n  payload: JSON.stringify(snap)\n};\n\nlet influxMsg = null;\nif (token && fields.length) {\n  influxMsg = {\n    method: 'POST',\n    url: `${base}?org=${org}&bucket=${bucket}&precision=ns`,\n    headers: { Authorization: `Token ${token}`, 'Content-Type': 'text/plain; charset=utf-8' },\n    payload: `tele,${tags.join(',')} ${fields.join(',')} ${now * 1e6}`\n  };\n}\n\nreturn [ influxMsg, uiMsg ];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 810,
    "y": 780,
    "wires": [
      [
        "f1a2b3c4d5e6f709"
      ],
      [
        "mqtt_out_kma_snap"
      ]
    ]
  },
  {
    "id": "mqtt_out_kma_snap",
    "type": "mqtt out",
    "z": "b1c5a1f1d7a2a3a1",
    "name": "KMA 스냅샷 publish",
    "topic": "",
    "qos": "",
    "retain": true,
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d6b7f6c1b2b3c4d5",
    "x": 1010,
    "y": 820,
    "wires": []
  }
]

